{* notag *}
{assign var=img_path value=$util->get_values_from_config('IMAGE')}
<div id="leaderboard_profile">
        <div style="background-color: #CAD8F3;width:281px;" >
	    <table  align="center">
		<tr>
		    <td>
		     <table>
			</tr>
			    <td>
				<div style="height:100px;width:100px"><img src="##LBL_SITE_URL##image/thumb/avatar/{if $sm.res.0.avatar}{$sm.res.0.avatar}{else}{if $sm.res.0.gender=='M'}memeje_male.jpg{else}memeje_female.jpg{/if}{/if}" width="{$img_path.thumb_width}" height="{$img_path.thumb_height}" />
				</div>
			
			    </td>
			    {if $sm.nofrndbtn!=1}
				    <td align="left">
				    {if ($smarty.session.id_user !=$sm.res.0.id_user)}
					{if $sm.reqst_to.req_status !=1}
					    {if !$sm.reqst_to.requested_by}
						{if $sm.request_by_oth.0.requested_to && $sm.request_by_oth.0.req_oth !=1  }
						    <div id="addfd"><input type="button" value="respond friend request" onClick="res_frnd_request('{$sm.res.0.id_user}');"></div>
						{/if}
						{if $sm.request_by_oth.0.req_oth !='0' &&  $sm.request_by_oth.0.req_oth !='1'}
						    <div id="addfd"><input type="button" value="Add Friend" onClick="add_friend('{$sm.res.0.id_user}','{$sm.request_by_oth.0.req_oth}','{$sm.request_by_oth.0.id_frnd_request}');"></div>
						{/if}
					    {/if}
					    {if $sm.reqst_to.requested_by}
						<div id="addfd"><input type="button" value="{if $sm.reqst_to.req_status!='0'}Add Friend {else}Friend Request Sent{/if}" onClick="add_friend('{$sm.res.0.id_user}','{$sm.reqst_to.req_status}','{$sm.reqst_to.id_frnd_request}');"{if  $sm.reqst_to.req_status == '0'}disabled="disabled"{/if}/></div>
					    {/if}
					{/if}
				    {/if}
				    </td>
			    {/if}
                          </tr>
			</table>
		       </td>
		</tr>
	    </table>
	    <table>
		<tr><td colspan="2" align="center"><font size="3px;">{$sm.res.0.email}</font></td></tr>
		<tr>
		    <td align="right"><b>Gender:</b></td>
		    <td>{if $sm.res.0.gender==M} Male{else}Female{/if}</td>
		</tr>
		<tr>
		    <td align="right"><b>Last login:</b></td>
		    <td><nobr>{$sm.res.0.last_login|date_format:"%m-%d-%Y %H:%m:%S"}</nobr></td>
		</tr>
		<tr>
		    <td align="right"><b>DOB:</b></td>
		    <td><nobr>{if $sm.res.0.dob}{$sm.res.0.dob|date_format:"%m-%d-%Y"}{else}NA{/if}</nobr></td>
		</tr>
		<tr>
		    <td align="right"><b>Achievement rank:</b></td>
		    <td>{$sm.ach} </td>
		</tr>
		<tr>
		    <td align="right"><b>Question of the week won:</b></td>
		    <td>{$sm.res.0.ques_week_won} </td>
		</tr>
		<tr>
		    <td align="right"><b>Duels won:</b></td>
		    <td>{$sm.res.0.duels_won} </td>
		</tr>
		<tr>
		    <td align="right"><b>Experience point:</b></td>
		    <td>{$sm.res.0.exp_point} </td>
		</tr>
	    </table>
        </div>
</div>
{if $sm.nofrndbtn!=1}
{literal}
<script type="text/javascript">
   
    function add_friend(id_user,req_status,id_frnd_request){
	//alert("iduser:"+id_user+"  req_status="+req_status+"  id_req="+id_frnd_request);//return false;
	var url="##LBL_SITE_URL##";
	$.post(url,{"page":"leaderboard","choice":"addFriend","id":id_user,req_status:req_status,id_frnd_request:id_frnd_request,ce:0},function(res){
	    //alert(res);
	    if(res==1){
		$("#addfd").html('<input type="button" value="friend request sent" disabled="disabled"/>');
	    }    
	});
    }
    function res_frnd_request(id_user){
	var url="##LBL_SITE_URL##";
	$.post(url,{"page":"user","choice":"conf_frnd_request","id":id_user,ce:0},function(res){
	   // alert(res);
	    if(res==1){
		$("#addfd").html('');
	    }    
	});
    }
</script>
{/literal}
{/if}
