{literal}
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<script type="text/javascript">
	function answer_it(idq){
		var glurl = "##LBL_SITE_URL##meme/addMeme/id/"+idq;
		var url = "##LBL_SITE_URL##meme/check_user_answered";
		$.post(url, {idq:idq,ce:0}, function(res){
			res = parseInt(res);
			if(res){
			    alert("Already answered to this question.");
			    return false;
			}else{
			    window.location = glurl;
			}
		});
	}
	function show_details(id_meme){
		$.fancybox.showActivity();
		var url="##LBL_SITE_URL##meme/meme_details/ce/0/id/"+id_meme;
		var httpRequest = new XMLHttpRequest();
		httpRequest.open('POST', url, false);

		httpRequest.send(); // this blocks as request is synchronous
		if (httpRequest.status == 200) {
			res=httpRequest.responseText;
			$.fancybox(res,{
				centerOnScroll:true,
				onComplete : function (){
				$.fancybox.resize();
				}
			});
		}
	}
	 function get_all_replies(id){
		var url = "##LBL_SITE_URL##meme/get_all_replies";
		$.post(url,{id:id,ce:0}, function(res){
			$("#send_reply"+id).html(res);
			if(!$("#add_caption"+id).is(":hidden"))
			    $('#add_caption'+id).slideToggle('slow');
			$('#send_reply'+id).slideToggle('slow');
		});
    }
    function get_captions(id){
		var url = "##LBL_SITE_URL##caption/add_caption";
		$.post(url,{id:id,ce:0}, function(res){
			    $("#add_caption"+id).html(res);
			if(!$("#send_reply"+id).is(":hidden"))
			$('#send_reply'+id).slideToggle('slow');
			$('#add_caption'+id).slideToggle('slow');
		
		});
    }
    function chk_forclear(id){
		if($('#rpl_con'+id).val() == "Reply with answer.")
			$('#rpl_con'+id).val('');
    }

    function post_reply(id){
		if($("#rpl_con"+id).val()=="" || $("#rpl_con"+id).val()=="Reply with answer."){
			 $("#rpl_con"+id).val("Reply with answer.");
			 return false;
		}
		$("#send_reply"+id).hide("slow",function(){});
		var url = "##LBL_SITE_URL##meme/answer_to_meme";
		$.post(url,{answer:$("#rpl_con"+id).val(),id:id,ce:0},function(res){
			$("#rpl_con"+id).val('');
			$("#is_replied"+id).val('1');
			$("#repl"+id).html(res);
		});
    }
    function set_tot_adaggr(id,con){
		var url = "##LBL_SITE_URL##meme/set_adaggr";
		$.post(url,{id_meme:id,ce:0,con:con},function(res){
			if(res[0]!=0){
				if(res[1]==1){
				$("#aggr"+id).html(res[0]);
				$("#is_agreed"+id).val('1');
				}else{
				$("#disaggr"+id).html(res[0]);
				$("#is_disagreed"+id).val('1');
				}
			}else
			   alert("You have already voted.");
		},"json");
    }
	function flagging(id_meme){
		var flaged_bfr=0;
		var url = "##LBL_SITE_URL##meme/flagging_meme";
		$.ajax({
			type: "POST",
			url: url,
			async:false,
			data: {ce:0,chk:'1',id:id_meme} ,
			dataType: "json",
			success: function(msg) {
			flaged_bfr = (parseInt(msg))?1:0;
			}
		});
		if(flaged_bfr){
			alert("You have already flagged.");
			return false;
		}else{
			var fg = confirm("Are you sure ?\nIf you flag , it may lead your account to be frozened or deleted");
			if(fg)
				$.post(url, {ce:0,id:id_meme},function(data){
				alert("You have successfully flagged.");
				}); 
		}
    }
</script>
<style type="text/css">
    a{
	text-decoration: none;
	cursor: pointer;
    }
    .meme{
	background: gainsboro;
	width:60%;
	height:auto;
    }
</style>
{/literal}


<div>
{include file="question/que_details"}
</div>

<h3>My Answer</h3><br/>
{if $sm.ans && array_key_exists($smarty.session.id_user,$sm.ans)}
    {assign var=own value=$sm.ans[$smarty.session.id_user]}
    <div >
		<div  id="meme{$own.id_meme}" class="meme">
		    <div style="height: 100px;">
		       <img src="##LBL_SITE_URL##image/thumb/meme/{$own.image}" style="width: 100px;height: 100px;cursor:pointer;" align="left" title="Meme" onclick="show_details('{$own.id_meme}');"/>
			<div style="vertical-align: top;">Aswered by:{$sm.uinfo[$own.id_user].fname} {$sm.uinfo[$own.id_user].lname}</div>
				Title:<b>{$own.title|capitalize}</b><br/>
				On : {$own.add_date|date_format:"%m-%d-%Y"} @ {$own.add_date|date_format:"%H:%I %p"}
		    </div>
			<div><font size="3px;" color="blue"><span id="hrc{$x.id_meme}">{if $sm.hrc[$own.id_meme].caption}{$sm.hrc[$own.id_meme].caption}{else}{/if}</span></font></div>
				<span>
			   
			    <label id="repl{$own.id_meme}">{$own.tot_reply}</label>&nbsp;<a href="javascript:void(0);" onclick="get_all_replies('{$own.id_meme}');"><img src="##LBL_SITE_URL##templates/images/reply.gif" />Reply</a>&emsp;
			   
			    <label id="aggr{$own.id_meme}">{$own.tot_honour}</label>&nbsp;<a href="javascript:void(0);" id="agr_link{$own.id_meme}" onclick="set_tot_adaggr('{$own.id_meme}','A');">Honour</a>&emsp;
			    <label id="disaggr{$own.id_meme}">{$own.tot_dishonour}</label>&nbsp;<a href="javascript:void(0);" id="disagr_link{$own.id_meme}" onclick="set_tot_adaggr('{$own.id_meme}','D');">Dishonour</a>
			    &nbsp;<label id="capt{$own.id_meme}">{$own.tot_caption} </label> <a href="javascript:void(0)" onclick="get_captions('{$own.id_meme}');" >Add Caption</a>
			    <span class="fb_btn"><fb:like href="##LBL_SITE_URL##meme/meme_details/id/{$own.id_meme}" send="false" width="450" show_faces="true" font="arial" layout="button_count"></fb:like></span>
			</span><br/>
			<span ><a href="http://twitter.com/share" class="twitter-share-button" data-url="##LBL_SITE_URL##meme/meme_details/id/{$own.id_meme}" data-text="{$own.title|capitalize}" data-count="horizontal" data-via="memeje"  >Tweet</a></span>
		</div>
		<div id="send_reply{$own.id_meme}" style="width:30%;display: none;"></div>
		<div id="add_caption{$own.id_meme}" style="width:60%;display: none;"></div>
		<input type="hidden" name="is_replied" id="is_replied{$x.id_meme}" value=''/>
	    <input type="hidden" name="is_agreed" id="is_agreed{$own.id_meme}" value=''/>
	    <input type="hidden" name="is_disagreed" id="is_disagreed{$own.id_meme}" value=''/>
    </div>
{else}
	Yet not answered.....<a href="javascript:void(0);"  onclick="answer_it('{$sm.idq}');">Answer</a>
{/if}

<br/><br/><br/>
<h3>Other Answers</h3><br/>
{assign var=flag value=0}
    {foreach name=cur_meme item=x key=k from=$sm.ans}
		    {if $k!=$smarty.session.id_user}
			{assign var=flag value=1}
			<div >
			    <div  id="meme{$x.id_meme}" class="meme">
				<div style="height: 100px;">
				    <img src="##LBL_SITE_URL##image/thumb/meme/{$x.image}" style="width: 100px;height: 100px; cursor:pointer;" align="left" title="Meme" onclick="show_details('{$x.id_meme}');"/>
				    <div style="vertical-align: top;">
					    Aswered by:{$sm.uinfo[$x.id_user].fname} {$sm.uinfo[$x.id_user].lname}
				    </div>
				    Title:<b>{$x.title|capitalize}</b><br/>
				    On : {$x.add_date|date_format:"%m-%d-%Y"} @ {$x.add_date|date_format:"%H:%I %p"}
				</div>
				<div><font size="3px;" color="blue"><span id="hrc{$x.id_meme}">{if $sm.hrc[$x.id_meme].caption}{$sm.hrc[$x.id_meme].caption}{else}{/if}</span></font></div>
				<span>
			    {if $x.can_all_comment ||in_array($smarty.session.id_user,$sm.uinfo[$x.id_user].friends)}
			    <label id="repl{$x.id_meme}">{$x.tot_reply}</label>&nbsp;<a href="javascript:void(0);" onclick="get_all_replies('{$x.id_meme}');"><img src="##LBL_SITE_URL##templates/images/reply.gif" />Reply</a>&emsp;
			    {/if}
			    <label id="aggr{$x.id_meme}">{$x.tot_honour}</label>&nbsp;<a href="javascript:void(0);" id="agr_link{$x.id_meme}" onclick="set_tot_adaggr('{$x.id_meme}','A');">Honour</a>&emsp;
			    <label id="disaggr{$x.id_meme}">{$x.tot_dishonour}</label>&nbsp;<a href="javascript:void(0);" id="disagr_link{$x.id_meme}" onclick="set_tot_adaggr('{$x.id_meme}','D');">Dishonour</a>
			    &nbsp;<label id="capt{$x.id_meme}">{$x.tot_caption} </label> <a href="javascript:void(0)" onclick="get_captions('{$x.id_meme}');" >Add Caption</a>
			    {if $x.id_user!=$smarty.session.id_user}
				 &nbsp;<a href="javascript:void(0)" onclick="flagging('{$x.id_meme}')">Flag</a>
			    {/if}<br/>
			    <span class="fb_btn"><fb:like href="##LBL_SITE_URL##meme/meme_details/id/{$x.id_meme}" send="false" width="450" show_faces="true" font="arial" layout="button_count"></fb:like></span>
			</span><br/>
			<span ><a href="http://twitter.com/share" class="twitter-share-button" data-url="##LBL_SITE_URL##meme/meme_details/id/{$x.id_meme}" data-text="{$x.title|capitalize}" data-count="horizontal" data-via="memeje"  >Tweet</a></span>
	    </div>
	    <div id="send_reply{$x.id_meme}" style="width:30%;display: none;"></div>
	    <div id="add_caption{$x.id_meme}" style="width:60%;display: none;"></div>
	    <input type="hidden" name="is_replied" id="is_replied{$x.id_meme}" value=''/>
	    <input type="hidden" name="is_agreed" id="is_agreed{$x.id_meme}" value=''/>
	    <input type="hidden" name="is_disagreed" id="is_disagreed{$x.id_meme}" value=''/>
			</div><br/>
		    {/if}
    {/foreach}
{if $flag==0}
No answer found.
{/if}
