<!-- 
     Commented by Muaz :D
	 This is the main HTML for the Memeja Editor.
-->

<div id="showmodal" class="showmodal"><em><center>ENTER MEMEJA DOJO</center></em></div>
<script type="text/javascript">
    var last_comic="##LBL_SITE_URL##spad/workspace/{$smarty.session.id_user}_img.png";
    var LBL_SITE_URL="##LBL_SITE_URL##";
</script>
<script type="text/javascript" src="##LBL_SITE_URL##spad/jquery.mousehold.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="##LBL_SITE_URL##spad/scratchpad.js"></script>
<script type="text/javascript" src="##LBL_SITE_URL##spad/jquery.jqDock.min.js"></script>
<script type="text/javascript" src="##LBL_SITE_URL##spad/color/colorpicker.js"></script>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/themes/ui-lightness/jquery-ui.css" />
<link type="text/css" href="##LBL_SITE_URL##spad/css/colorpicker.css" rel="stylesheet" />
<link rel="stylesheet" href="##LBL_SITE_URL##spad/css/spad.css" type="text/css"/>
<script type="text/javascript" src="##LBL_SITE_URL##templates/flexyjs/js/jquery.multiautocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="##LBL_SITE_URL##templates/css_theme/multiautocomplete.css"/>
{assign var=category value=$util->get_values_from_config('CATEGORY')}
{literal}
<script type="text/javascript">
    function cancel_meme(){
	window.location="##LBL_SITE_URL##user/user_home";
    }
    function get_premade_images(obj){
        var cat=obj.value;
        if(cat=='')
            return false;
        var url = "##LBL_SITE_URL##meme/get_premade_images";
        $.post(url,{id_category:cat,ce:0}, function(res){
            $("#premade_img").html(res);
        });
    }
    function validate_me(){
        obj=document.getElementById('ques_ans');
        if($(obj.title).val()==''){
            alert("Enter The Title");
            $(obj.title).focus();
            return false;
        }
        if($(obj.see_fr).val()==""){
            alert("Choose Who Can See?");
            $(obj.see_fr).focus();
            return false;
        }
        if($(obj.friends).val()==""){
            alert("Choose Who Can Comment?");
            $(obj.friends).focus();
            return false;
        }
        if($(obj.meme_cat).val()==''){
            alert("Choose One Category");
            $("#meme_cat").focus();
            return false;
        }else{
		if(!$("#tag").val()){
			var conf=confirm("Are you sure you don't want to tag your friends?");
			if(conf){
				submit_memeje();
			}else{
				return false;
			}
		}else{
			submit_memeje();
		}
        }
    }

</script>
{/literal}
{if $sm.idq}
<center><b>Answering to the Question.</b></center><br/>
{/if}

<input type="hidden" name="iduser" id="iduser" value="{$smarty.session.id_user}"/>
<form method="post" action="##LBL_SITE_URL##meme/meme_insert" enctype="multipart/form-data" name="ques_ans" id="ques_ans">
    <div align="center">
        {if $sm.idq}
        <input type="hidden" name="meme[id_question]" id="id_question" value="{$sm.idq}"/>
        {/if}
        {if $sm.duel}
        <input type="hidden" name="meme[duel]" id="duel" value="{$sm.duel}"/>
        {/if}
        <div>
            <span><b>Title:</b></span>
            <span>
                <input type="text" name="meme[title]" id="title" size="50"/>
            </span>
        </div><br/>
        <div id="edtr">
	{include file="meme/meme_editor"}

            <div class= 'right_pos_abs'>
                <table>
                    <tr>
                        <td valign='top'><b>Visibility:</b></td>
                        <td>
                            <select id="see_fr" name="meme[can_all_view]">
                                <option value="1" selected = "selected">Everyone</option>
                                <option value="0">Friends Only</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td valign='top'><b>Who comments:</b></td>
                        <td>
                            <select id="friends" name="meme[can_all_comment]">
                                <option value="1" selected = "selected">Everyone</option>
                                <option value="0">Friends Only</option>
                            </select>
                        </td>
                    </tr>
					<!-- Commented out since we are contemplating having categories
                    <tr>
                        <td valign='top'><b>Meme Category:</b></td>
                        <td>
                            <select id="meme_cat" name="meme[category]">
                                <option value=''>--Select--</option>
				       {html_options options=$category}
                            </select>
                        </td>
                    </tr>
					-->
					<tr>
                        <td valign='top'><b>Tag your friends:</b></td>
                        <td><select multiple="multiple" style="display: none;" id="tag" name="tagged_user[]"></select></td>
                    </tr>
                    <tr>
                        <td align='center'><input type="button" value="Submit" onclick="validate_me();"/> &nbsp; <input type="button" value="Cancel" id="cancel" onclick="cancel_meme();"/></td>
                    </tr>
                </table>
            </div>

        </div>
        <input type="hidden" id="edited_img" name="meme[image]" value="{$smarty.now}_draw.png"/>
</form>
{literal}
	<script typ="text/javascript">
 		$(document).ready(function(){
		var url = "##LBL_SITE_URL##index.php?page=user&choice=getfriends4tag&flg=1&ce=0";
			$("#tag").autocomplete({json_url:url,height:6});
		});
	
	</script>
{/literal}
