{literal}
<script type="text/javascript">
	function show_details(id_meme){
		$.fancybox.showActivity();
		var url = "##LBL_SITE_URL##meme/meme_details/";
		$.post(url,{ce:0,id:id_meme},function(res){
			show_fancybox(res);
		});
    	}
	function show_tmp_details(id_meme){
		$.fancybox.showActivity();
		var url = "##LBL_SITE_URL##meme/meme_details/";
		$.post(url,{ce:0,id:id_meme,fg:1},function(res){
			show_fancybox(res);
		});
	}
</script>
<style type="text/css">
    .divs{
	height:100px;
	width: 100px;
	border: 1px solid;
    }
</style>
{/literal}
<table align="center">
	{if $sm.fg}
		{assign var=own_id value=$smarty.session.id_user}
		{foreach name=nm item=i key=k from=$sm.user_info}
			{if $own_id!=$k}
			<tr>
				<td>
					<div align="center" >
						{if $sm.meme_info_tmp[$own_id].is_transfered_to_meme ==1}
						 1<div class="divs" onClick="show_details('{$sm.meme_info[$own_id].id_meme}')"> <img src="##LBL_SITE_URL##image/thumb/meme/{$sm.meme_info[$own_id].image}" height="100px;" width="100px;"/></div><br/>
						{elseif @isset($sm.meme_info_tmp[$own_id])}
						  2<div class="divs" onClick="show_tmp_details('{$sm.meme_info_tmp[$own_id].id_duel_meme}')"> <img src="##LBL_SITE_URL##image/orig/duel/{$sm.meme_info_tmp[$own_id].image}" height="100px;" width="100px;"/></div><br/>
						{else}
						   3 <div class="divs">Not yet posted.</div><br/>
						{/if}
						<span>Posted by:<b>You</b></span><br/>
					</div>
				</td>
				<td>VS</td>
				<td>
					<div>
						{if $sm.meme_info_tmp[$k].is_transfered_to_meme ==1}
						 1 <div class="divs" onClick="show_details('{$sm.meme_info[$k].id_meme}')"><img src="##LBL_SITE_URL##image/thumb/meme/{$sm.meme_info[$k].image}" height="100px;" width="100px;"/></div><br/>
						{elseif @isset($sm.meme_info_tmp[$k])}
						   2<div class="divs" onClick="show_tmp_details('{$sm.meme_info_tmp[$k].id_duel_meme}')"><img src="##LBL_SITE_URL##image/orig/duel/{$sm.meme_info_tmp[$k].image}" height="100px;" width="100px;"/></div><br/>
						{else}
						   3<div class="divs">Not yet posted.</div><br />
						{/if}
						<span>Posted by:<b>{$i.fname}{if $i.mname} {$i.mname}{else} {/if}{$i.lname}</b></span><br/>
					</div>
				</td>
			</tr>
			{/if}
		{/foreach}
		{else}
		No duels found.
		{/if}
</table>
