<div>
	    <div  id="meme{$sm.meme_id}" class="meme">

{* Height between memes *}
		<div style="height: 70px;">
			<a class="meme_gallery" data-fancybox-group="thumb" id="memeimage{$sm.meme_id}" onclick="show_details('{$sm.meme_id}');" href="##LBL_SITE_URL##image/orig/meme/{$sm.meme_picture}" title="{$sm.meme_title|capitalize}">
			<img src="##LBL_SITE_URL##image/thumb/meme/{$sm.meme_picture}" style="cursor:pointer;width: 75px; height: 65px; 
			{* Added by Delos: highlights if you created the meme *}
			{if $smarty.session.id_user}
				{if $sm.meme_user == $smarty.session.id_user}
					border-style:outset; border-width:2px; border-color:#6699FF;
				{/if}
			{/if}
					
		" align="left"/>
				<span id="user_avatar_thumb">
				{if $sm.uinfo[$sm.meme_user].fb_pic_square}
					<img src="{$sm.uinfo[$sm.meme_user].fb_pic_square}" class="avatar_thumb_fb" >
				{elseif $sm.uinfo[$sm.meme_user].avatar}
					<img src="##LBL_SITE_URL##image/thumb/avatar/{$sm.uinfo[$sm.meme_user].avatar}" class="avatar_thumb_regular"/>
				{else}
				memeja_male.png
				{/if}			
			</span>
			<span id="meme_title">{$sm.meme_title|capitalize}</span></a>
			
	<!-- end of gallery class-->
			
			<div id="meme_info">  by 
				<span id="user{$sm.uinfo[$sm.meme_user].id_user}" style="font-size:14px;text-decoration:underline; color:#ACACA5;"><a href="javascript:void(0);">{$sm.uinfo[$sm.meme_user].username} </a></span>
			</div>

<!-- Caption shows below image 
			<div style="font-size: 12px; color:blue"><span id="hrc{$sm.meme_id}">{if $sm.hrc[$sm.meme_id].caption}"{$sm.hrc[$sm.meme_id].caption}"{else}{/if}</span></div><br/>-->

<!-- Comment out Category
			    Category:<b>{$category[$x.category]}</b><br/> -->

<!-- Meme Author (Commented out)
			    by {$sm.uinfo[$sm.meme_user].fname|capitalize} {$sm.uinfo[$sm.meme_user].lname|capitalize} <br/> -->

<!-- Date (Commented out)
			    On: {$x.add_date|date_format:"%m-%d-%Y"} @ {$x.add_date|date_format:"%I:%M %p"}<br/><br/>  -->
<!--	<div class="meme_gen_info" style="position:relative; left: 13px; bottom:2px; font-size:13px; color:#ACACA5;">born 24 min ago</div>-->

<br/>
<!-- Reply-->

<div class="meme_reproductive_system">

<!--
			    <a href="javascript:void(0);" onclick="get_all_replies('{$sm.meme_id}');" class="meme_reply"><img src="##LBL_SITE_URL##templates/images/replys.png" style="width:25px;height:25px;"/><div id="repl{$sm.meme_id}"class="meme_reply_label">{if $sm.tot_reply != 0}{$sm.tot_reply}{else}0{/if}</div></a>&emsp;
-->

<!-- Honor -->
			    <a href="javascript:void(0);" id="agr_link{$sm.meme_id}" class="meme_like"
					{if $smarty.session.id_user}
			    		{if substr_count($sm.honour_id_user, $smarty.session.id_user)}
				    		style="cursor: default"
				    	{elseif substr_count($sm.dishonour_id_user, $smarty.session.id_user)}
				    		style="cursor: default"
				    	{/if}
				    {/if}
					onclick="set_tot_adaggr('{$sm.meme_id}','A','{$sm.meme_user}');"><img src="##LBL_SITE_URL##templates/images/like.png" style="width:25px;height:25px;position:relative;top:12px;margin:3px;left:40px;"/><div id="aggr{$sm.meme_id}" class="meme_like_label"
					{if $smarty.session.id_user}
			    		{if substr_count($sm.honour_id_user, $smarty.session.id_user)}
						style="color:green"
						{/if}
					{/if}
					>{if $sm.tot_honour != 0}{$sm.tot_honour}{/if}</div></a>&emsp;					
<!-- Dishonor -->
			    <a href="javascript:void(0);" id="disagr_link{$sm.meme_id}" class="meme_dislike"
			    	{* Added by Delos: highlights according to agree/disagree *}
			    	{if $smarty.session.id_user}
			    		{if substr_count($sm.honour_id_user, $smarty.session.id_user)}
			    			style="cursor: default"
			    		{elseif substr_count($sm.dishonour_id_user, $smarty.session.id_user)}
			    			style="cursor: default"
			    		{/if}
			    	{/if}
			    onclick="set_tot_adaggr('{$sm.meme_id}','D','{$sm.meme_user}');"><img src="##LBL_SITE_URL##templates/images/dislike.png" style="width:25px;height:25px;position:relative;top:12px;margin:3px;left:14px;"/><div id="disaggr{$sm.meme_id}" class="meme_dislike_label"
				{if $smarty.session.id_user}
			    		{if substr_count($sm.dishonour_id_user, $smarty.session.id_user)}
						style="color:red"
						{/if}
					{/if}
				>{if $x.tot_dishonour != 0}{$x.tot_dishonour}{/if}</div></a>
			   
			    </div>

<!-- Add Caption 
			    {if $x.can_all_comment ||in_array($smarty.session.id_user,$sm.uinfo[$sm.meme_user].friends) || $smarty.session.id_user==$sm.meme_user}
			    &nbsp;<label id="capt{$sm.meme_id}">{if $x.tot_caption != 0}{$x.tot_caption}{/if}</label> <a href="javascript:void(0)" onclick="get_captions('{$sm.meme_id}');" >Add Caption</a>
			    {/if}
	

<!-- Flag 
			    {if $sm.meme_user!=$smarty.session.id_user}
				 &nbsp;<a href="javascript:void(0)" onclick="flagging('{$sm.meme_id}')">Flag</a>
			    {/if}
-->

<!-- Twitter function commented out
			    <span class="fb_btn"><fb:like href="##LBL_SITE_URL##meme/meme_details/id/{$sm.meme_id}" send="false" width="450" show_faces="true" font="arial" layout="button_count"></fb:like></span>
			</span><br/>
			<span ><a href="http://twitter.com/share" class="twitter-share-button" data-url="##LBL_SITE_URL##meme/meme_details/id/{$sm.meme_id}" data-text="{$sm.meme_title|capitalize}" data-count="none" data-via="memeje"  >Tweet</a></span> 

-->
	    </div>
	    <div id="send_reply{$sm.meme_id}" style="width:75%; margin:-20px 0 30px 120px; display: none;"></div>
<!--
	    <div id="add_caption{$sm.meme_id}" style="width:60%;display: none;"></div> -->
	    <input type="hidden" name="is_replied" id="is_replied{$sm.meme_id}" value=''/>
	    <input type="hidden" name="is_agreed" id="is_agreed{$sm.meme_id}" value=''/>
	    <input type="hidden" name="is_disagreed" id="is_disagreed{$sm.meme_id}" value=''/>
</div>
