{*notag*}
{assign var=x value=$util->get_values_from_config('LIVEFEED_COLOR')}
{literal}
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<script type="text/javascript">
    var reply_color = "{/literal}{$x.reply}{literal}";
    var honour_color = "{/literal}{$x.agree}{literal}";
    var dishonour_color = "{/literal}{$x.disagree}{literal}";
    var addcaption_color = "{/literal}{$x.add_caption}{literal}";
    
    // Added by Delos to detect if user is logged in
	var logged_in="{/literal}{$smarty.session.id_user}{literal}";
    
    var first_id,after_5sec=0,backup_rand_id_memes='',backup_last_id_meme='';
    $(document).ready(function(){	
    
			$('.meme_gallery').fancybox({
				padding: 0,
			
				openEffect : 'elastic',
				openSpeed  : 150,
				
				prevEffect : 'fade',
				nextEffect : 'none',
				closeEffect : 'elastic',
				closeSpeed : 100,

				closeBtn  : false,
				arrows    : true,
				nextClick : true,
				
				helpers : { 
					thumbs : {
						width  : 50,
						height : 50
					},
					overlay : {
						opacity : 0.8
					}
				}
			});
			
    
		$("#last_id_meme").val("{/literal}{$sm.last_id_meme}{literal}");
		var cat = "{/literal}{$sm.cat}{literal}";
		$("#rand_id_memes").val("{/literal}{$sm.id_memes}{literal}");
		$("#last_id_meme_cur_page").val("{/literal}{$sm.last_idmeme}{literal}");
	    	get_all_flag_details(1);
	    	setInterval("get_all_flag_details()",4000);
	    
		$(window).scroll(function(){
			if ($(window).scrollTop() == $(document).height() - $(window).height()){
				
				if (logged_in) {
					var srch_uname = "{/literal}{$smarty.request.muname}{literal}";
					var srch_title = "{/literal}{$smarty.request.mtitle}{literal}";
				
					if ($("#last_id_meme_cur_page").val() != "") {
					  	console.log("last_id_meme fired");
					  	if ($("#chk_me").val()!=1) {
						  backup_last_id_meme = $("#last_id_meme_cur_page").val();
						  loadmorememe(cat,backup_last_id_meme,srch_uname,srch_title);
						  $("#last_id_meme_cur_page").val("");
				  		}
				  	}
		      	} else {
		      		$("#signupmemes").fadeIn('slow');
		      	}
			}
	 	});
	 	
    });
    
    function loadmorememe(cat,last_id,srch_uname,srch_title){
	$("#loadingmeme_img").show();
	var ext = "{/literal}{$smarty.request.ext}{literal}";
	var url = "##LBL_SITE_URL##meme/meme_list";
	$.post(url,{cat:cat,ce:0,last_id:last_id,muname:srch_uname,mtitle:srch_title,ext:ext}, function(res){
	    $("#loadingmeme_img").hide();
	    if(res!="")
		$("#all_memes").append(res);
	});
    }
    
    function get_all_flag_details(timer){
		var last_id_page ;
		var cat = "{/literal}{$sm.cat}{literal}";
		var ext = "{/literal}{$smarty.request.ext}{literal}"
		var last_id = $("#last_id_meme").val();
		last_id_page = $("#last_id_meme_cur_page").val();
		var page_ids = $("#rand_id_memes").val(); 
		var url = "##LBL_SITE_URL##meme/get_all_flag_details";
		$.post(url, {ce:0,last_id:last_id_page,cat:cat,lid:last_id,page_ids:page_ids,ext:ext}, function (res){
		    if(res){
			if(timer==1){
			     first_id = res[0];
			}else{
				after_5sec = res[0];
				hrc = res[1];
				$("#last_id_meme").val(res[3]);
				if(res[2]!='Nothing'){
				   if($("#msgexist").val()=="1"){
				       $("#all_memes").html(res[2]);
				   }else
				       $("#all_memes").prepend(res[2]);
				   $("#rand_id_memes").val(res[4]);
				}
				blink_according_to(first_id,after_5sec,hrc);
		        }
		    }
		},"json");
	}
    function blink_according_to(first,then,hrc){
	for(j in hrc){
	    val = hrc[j]['caption'];
	    $("#hrc"+j).html(val);
	}
	for(i in first){
	    if(then[i]['tot_reply']!=first[i]['tot_reply']){
		if($("#is_replied"+first[i]['id_meme']).val()==''){
		    $("#repl"+first[i]['id_meme']).html(then[i]['tot_reply']);
		    common_fun(first[i]['id_meme'],reply_color);
		}
		    $("#is_replied"+first[i]['id_meme']).val("");
	    }

	    if(then[i]['tot_caption']!=first[i]['tot_caption']){
		    $("#capt"+first[i]['id_meme']).html(then[i]['tot_caption']);
		    common_fun(first[i]['id_meme'],addcaption_color);
	    }

	    if(then[i]['tot_honour']!=first[i]['tot_honour']){
		if($("#is_agreed"+first[i]['id_meme']).val()==''){
		    $("#aggr"+first[i]['id_meme']).html(then[i]['tot_honour']);
		    common_fun(first[i]['id_meme'],honour_color);
		}
		    $("#is_agreed"+first[i]['id_meme']).val("");
	    }

	    if(then[i]['tot_dishonour']!=first[i]['tot_dishonour']){
		if($("#is_disagreed"+first[i]['id_meme']).val()==''){
		    $("#disaggr"+first[i]['id_meme']).html(then[i]['tot_dishonour']);
		    common_fun(first[i]['id_meme'],dishonour_color);
		}
		    $("#is_disagreed"+first[i]['id_meme']).val("");
	    }
	    
	}
	first_id = after_5sec;
    }

/* Fade out color after agree/disagree */
    function common_fun(id,color_code){
		$("#meme"+id).effect("highlight", {color:color_code}, 1500);
    }

/* Expand replies after reply button is pressed on the meme */
    function get_all_replies(id){
        
	var url = "##LBL_SITE_URL##meme/get_all_replies";
	$.post(url,{id:id,ce:0}, function(res){
	    $("#send_reply"+id).html(res);
	    
	    /* If caption is up, swap */
	    if(!$("#add_caption"+id).is(":hidden"))
			$('#add_caption'+id).slideToggle('slow');
	    $('#send_reply'+id).slideToggle('slow');
	});
    }
    
    function get_captions(id){
	var url = "##LBL_SITE_URL##caption/add_caption";
	$.post(url,{id:id,ce:0}, function(res){
	        $("#add_caption"+id).html(res);
	    if(!$("#send_reply"+id).is(":hidden"))
		$('#send_reply'+id).slideToggle('slow');
		$('#add_caption'+id).slideToggle('slow');
	});
    }
    
    function chk_forclear(id){
	if($('#rpl_con'+id).val() == "Reply with answer.")
	    $('#rpl_con'+id).val('');
    }

	function strip(html)
	{
	   var tmp = document.createElement("DIV");
	   tmp.innerHTML = html;
	   return tmp.textContent||tmp.innerText;
	}

    function post_reply(id){
		if($("#rpl_con"+id).val()=="" || $("#rpl_con"+id).val()=="Reply with answer."){
	    	 $("#rpl_con"+id).val("Reply with answer.");
	    	 return false;
		}
	    
	   if (logged_in) { 
			/* $("#send_reply"+id).hide("slow",function(){}); */
			var url = "##LBL_SITE_URL##meme/answer_to_meme";
			var reply = strip(($("#rpl_con"+id).val()).trim());
			
			$.post(url,{answer:reply,id:id,ce:0},function(res){
			    $("#rpl_con"+id).val(''); /* clears form text space */
			    $("#is_replied"+id).val('1'); 
			    $("#repl"+id).html(res);
			    common_fun(id,reply_color);
			});
		
			/* Added by Delos for live reply */
			/*$("#replyinsert"+id).html("Replied by {/literal}{$smarty.session.fname} {$smarty.session.lname}{literal} :<b>"+$("#rpl_con"+id).val()+"</b>")*/
			var url = "##LBL_SITE_URL##meme/get_all_replies";
			$.post(url,{id:id,ce:0}, function(res){
				$("#send_reply"+id).html(res);
			});
			
		
    	} else {
    		alert("Please log in to reply.");
    	}
    }

/* JS call after Agree/Disagree button is pressed */
    function set_tot_adaggr(id,con,id_user){
	var url = "##LBL_SITE_URL##meme/set_adaggr";
	
	/* Added by Delos to check if user is logged in */
	if (logged_in) {
		$.post(url,{id_meme:id,ce:0,con:con,id_user_creator:id_user},function(res){

	    	/* If user has not voted */
	    	if(res[0]!=0){
			    if(res[1]==1){
					$("#aggr"+id).html(res[0]);		/* Updates H/D count */
					$("#is_agreed"+id).val('1');
					common_fun(id,honour_color);
					
					/* After voting, Highlight Agree + Grey out Disagree */					
					$("#agr_link"+id).css({"color" : "green", "cursor" : "default"});
					$("#disagr_link"+id).css({"color" : "gray", "cursor" : "default"});

			    } else {
					$("#disaggr"+id).html(res[0]);
					$("#is_disagreed"+id).val('1');
					common_fun(id,dishonour_color);
					
					/* After voting, Highlight Disagree + Grey out Agree */
					$("#disagr_link"+id).css({"color" : "red", "cursor" : "default"});
					$("#agr_link"+id).css({"color" : "gray", "cursor" : "default"});
			    }
	    	}  else {
	    		/* res[0] = 0 and user has already voted */
	    			// Commented out because of highlighting feature
	    		/* alert("You already voted!"); */ 
	    	}
		},"json");
    	} else {
    	alert("Please log in to vote");
    }
    }
    
    function show_details(id_meme){
		var url="##LBL_SITE_URL##meme/meme_details/ce/0/id/"+id_meme;
				
		var httpRequest = new XMLHttpRequest();
		httpRequest.open('POST', url, false); // why is this synchronous?

		httpRequest.send(); // this blocks as request is synchronous
<!--		if (httpRequest.status == 200) {-->
<!--			res = httpRequest.responseText;-->
<!--			console.log(res);-->
<!--			-->
<!--			//return res-->
<!--			//$.fancybox(res,{-->
<!--			//	title : title-->
<!--			//});-->
<!--		}
-->
    }
    function flagging(id_meme){
	var flaged_bfr=0;
	var url = "##LBL_SITE_URL##meme/flagging_meme";
	$.ajax({
	    type: "POST",
	    url: url,
	    async:false,
	    data: {ce:0,chk:'1',id:id_meme} ,
	    dataType: "json",
	    success: function(msg) {
		flaged_bfr = (parseInt(msg))?1:0;
	    }
	});
	if(flaged_bfr){
		alert("You have already flagged the meme.");
		return false;
	    }else{
		var fg = confirm("Are you sure ?\nIf you flag , it may lead your account to be frozened or deleted");
		if(fg)
		    $.post(url, {ce:0,id:id_meme},function(data){
			alert("You have successfully flagged the meme.");
		    }); 
	    }
    }
    $(document).ready(function(){
    	// Search function
		$("#muname").autocomplete('##LBL_SITE_URL##index.php?page=meme&choice=auto_comp&ce=0',{
		    delay: 500
		});
		$("#mtitle").autocomplete('##LBL_SITE_URL##index.php?page=meme&choice=auto_comp&flg=1&ce=0',{
		    delay: 500
		});

		// jQuery CSS change for Live and Network feed
		$('#tab div').mouseover(function(){
			if($(this).hasClass('selected'));
			else
				$(this).removeClass('unselected').addClass('hover');
		}).mouseout(function(){
			if($(this).hasClass('selected'));
			else
			$(this).removeClass('hover').addClass('unselected');
		});
		// End
    });
</script>
<style type="text/css">
    a{
		text-decoration: none;
		cursor: pointer;
    }
    .meme{
		position: relative;
		top:-25px;
	   	margin-left: 15px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: white;  /* background for meme color */
		width:95%;
		height:auto;
	
		-moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; 
	
		-moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px;
	
		 border-bottom: 1px dotted #e6e6dc;
	
    }
    
    /* Inner formatting of live feed meme */
	img.avatar_thumb_fb, 
	img.avatar_thumb_regular {
		width: 40px;
		height: 40px;
	}
	
	#meme_title {
		position:relative;
		bottom:6px;
		padding-left:10px; 
		font-size: 19px; 
		font-weight: bold;
	}
	
	.meme_reproductive_system{
		position:relative; 
		left:55px;
	}

{* CSS for 'Search meme' on live feed *}
    .dec{			
	font-size: 12px;
	font-weight: bold;
    }
</style>
<style type="text/css">

	{* Spacing between 'Main Live Feed' and 'Network Feed *}
	#tab div	{
		margin-right:-20px;
		font-weight:bold;
	}

	{* Float of 'Main Live Feed' and 'Network Feed' *}
	.fltlft	{
		margin-left:25px;
		float:left;
	}
	.unselected	{
		background-color:#AAD8F3;
		width:auto;
		height:23px;
		text-align:center;
		padding-top:7px;
	}
	.hover	{
		background-color:#CAD8F3;
		height:23px;
		width:auto;
		text-align:center;
		padding-top:7px;
	}
	.selected	{
		background-color:#4D79A6;
		width:auto;
		height:23px;
		text-align:center;
		padding-top:7px;
	}
	a{
		text-decoration:none;
	}
	.borderyes	{
		border:#000000 solid 1px;
	}
	
</style>
{/literal}
<input type="hidden" name="last_id_meme_cur_page" id="last_id_meme_cur_page" value=''/>
<input type="hidden" name="rand_id_memes" id="rand_id_memes" value=''/>
<input type="hidden" name="chk_me" id="chk_me" value=''/>
<input type="hidden" name="last_id_meme" id="last_id_meme" value=''/>
<!--{if $smarty.session.id_user}-->
<!--<div class="fltlft" id="tab">-->
<!--	<div class="fltlft {if $smarty.request.ext=='1'}unselected{else}selected{/if}">-->
<!--		<a href="##LBL_SITE_URL##meme/meme_list/cat/{$sm.cat}" >MAIN LIVE FEED</a>-->
<!--	</div>-->
<!--	<div class="fltlft {if $smarty.request.ext=='1'}selected{else}unselected{/if}">-->
<!--		<a href="##LBL_SITE_URL##meme/meme_list/cat/{$sm.cat}/ext/1" >NETWORK FEED</a>-->
<!--	</div>-->
<!--</div>-->
<!--{/if}-->
<br><br><br>
<div id="all_memes">
    {if $sm.res_meme}
	{include file="meme/loadmorememe"}
    {else}
	<input type="hidden" id="msgexist" value="1">
	No meme found.
    {/if}
</div>
<div id="loadingmeme_img" style="display:none;">
    <img src="##LBL_SITE_URL##templates/images/loading.gif" />
</div>
<div id="signupmemes" style="display:none;">To see more memes, sign up! Or try our random generator</div>
