{foreach name=rep item=i key=k from=$sm.reparr}

<div>
<a href="javascript:void(0)" onmouseover="hover_user('{$sm.uinfo[$i.id_user].id_user}');">
{if $sm.uinfo[$i.id_user].fb_pic_square}
<img src="{$sm.uinfo[$i.id_user].fb_pic_square}" style="width:50px;height:50px">
{elseif $sm.uinfo[$i.id_user].avatar}
<img src="##LBL_SITE_URL##image/thumb/avatar/{$sm.uinfo[$i.id_user].avatar}" style="width:50px;height:50px"/>
{else}
<img src="##LBL_SITE_URL##image/thumb/avatar/{if $smarty.session.gender=='M'}memeja_male.png{else}memeja_female.png" style="width:50px;height:50px"/>{/if}
{/if}</a>

<span style="position:relative; bottom:38px; left:4px;"> 
<a href="javascript:void(0)" onmouseover="hover_user('{$sm.uinfo[$i.id_user].id_user}');" style="font-size:15px; font-weight:bold;">{$sm.uinfo[$i.id_user].username}</a><span style="font-size:12px; color:#ACACA5;"> L{$sm.uinfo[$i.id_user].level}</span></span>
</div>
<div id="user_reply" style="position:relative; left:58px; bottom:37px; padding-right:15px; font-family:Verdana;">{$i.reply}</div>

{/foreach}

{literal}
<script>
	$(document).ready(function(){
		// min chars for username
		var min_chars = 10;
			
		var validateCharacter = $('#validateCharacter');
		var text_input = $('#{/literal}{if !$sm.flag}rpl_con{else}rand_rpl_con{/if}{$sm.id_meme}{literal}');
				
		text_input.keyup(function() {
			var text_input_words = text_input.val();
			var text_length = text_input_words.length;
			var remaining = min_chars - text_length
		
		// No username
			if (!text_input_words) {
				validateCharacter.html('10 min characters remaining...');
							
			} else {
		
				if (this.value != this.lastValue && text_length < min_chars) {
						validateCharacter.html(remaining+" min characters remaining...");
					} else {
						validateCharacter.html('');
					}
				}
		});
	});


	// 'Enter hotkey' functionality 
	$('#{/literal}{if !$sm.flag}rpl_con{else}rand_rpl_con{/if}{$sm.id_meme}{literal}').keypress(function(e){
		  if(e.which == 13){
		  		{/literal}{if !$sm.flag}post_reply{else}rand_post_reply{/if}('{$sm.id_meme}');{literal}
		   }
		  });
</script>
{/literal}

<!-- D: written in to update reply feed in live -->
<div id="replyinsert{$sm.id_meme}"></div>

<textarea id="{if !$sm.flag}rpl_con{else}rand_rpl_con{/if}{$sm.id_meme}" style="width:90%;" onclick="{if !$sm.flag}chk_forclear{else}rand_chk_forclear{/if}('{$sm.id_meme}');" ></textarea><br/>

<a href="javascript:void(0);" onclick="return {if !$sm.flag}post_reply{else}rand_post_reply{/if}('{$sm.id_meme}');" style="cursor: pointer;"><img src="##LBL_SITE_URL##templates/images/reply.gif "style="width:15px;height:15px"/><span style="font-size:13px;">Reply</span></a>

<span id="validateCharacter" style="color:#e6e6dc"></span>
