
/*   Welcome to Pati's mess for Memeja! (Currently Under Construction By Muaz)   */


/****************************** Main Page Styling *******************************/


/* Default values for site stored in body (Sized in em for Cross-Browser Compatibility) */
	html,body {
		font-family: Trebuchet, Helvetica, sans-serif;
		font-size:0.8em;
		margin:10px 0% 10px 4%;
		background-color:#87C8F0;
		/*width: 1000px;*/
			/*Removed for NLU sizing */
	}

/* =p Define paragraph text size */
	p {
		font-size:1.1em;
	}
	  
/* =h Define headings font sizes */
	h1 {
		font-size:2em;
	}
	h2 {
		font-size:1.8em;
	}
	h3 {
		font-size:1.7em;
	}

/* Define form and table font-size */
	input, select, th, td {
		font-size:1.1em;
	}
	
	a{
		color:#0099FF;
		outline:none;
    }
	
	h1,h2,h3,h4,h5,h6,form{
		margin:0px;
		padding:0px;
	}

/* Highlighting Problem*/

	.nohighlight {
	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;
	}
	
	
/*++++++++++++++++++++++++++ Memeja Header ++++++++++++++++++++++++++++*/	

/*++++++++++++++++++++++++ NLU Design ++++++++++++++++++*/

	#nlu_masthead{
		margin: 0 0 0 0;
	}
	
	#nlu_logoc {
		float:left;
		margin-left:-30px;
		width:280px;
		background:#FFF;
	    moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;
	}
	
	#nlu_login{
		float:left;
		width: 250px;
		height:110px;
		margin:0 0 0 20px;
		
		background:#FFF;
	    moz-border-radius: 12px;
	    webkit-border-radius: 12px;
	    khtml-border-radius: 12px;
	    border-radius: 12px;
		
		box-shadow: 0 0 4px 0 #555555;
	}
	
	#nlu_login_register{
		float:left;
		width:250px;
		height:200px;
		margin:20px 0 0 20px;
		
		background:#FFF;
	    moz-border-radius: 12px;
	    webkit-border-radius: 12px;
	    khtml-border-radius: 12px;
	    border-radius: 12px;
		
		box-shadow: 0 0 4px 0 #555555;
	}
	
	#signup{
		margin:15px 20px 20px 12px;
	}
	
	#signup_text{
		font:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:18px;
		font-style: bold;
		color: #333333;
		line-height:20px;
		
		margin-bottom:15px;
	}
	
	#signup_explanation, #signup_alt{
		font:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:12px;
		color: #666666;
	}
	
	#nlu_container{
		margin:0.5% 0 0 -3%;
	}
	
	#nlu_feed{
		float:left; 
		position: relative;
		margin:0 0 0 0;
		padding: 15px 50px 50px 50px;
		
		width:860px;
		height:420px;
		
		background:#FFF;
	    moz-border-radius: 12px;
	    webkit-border-radius: 12px;
	    khtml-border-radius: 12px;
	    border-radius: 12px;
		
		box-shadow: 0 0 4px 0 #555555;
	}	
		
	.module_text{
		font:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:30px;
		font-weight: 700;
		line-height: 1.2em;
		color: #003366;
	}
	
	#front_card{
		margin: 0px 0 30px 0;
		text-align:center;
		font-size:50px;
	}
	
	#first_half{
		font-size:24px;
		margin-left:20px;
		padding-bottom:15px;
	}
	
	#second_half{
		float:right;
		margin-right: 20px;
		font-size:20px;
		padding-top: 25px;
	}
	
	#module_container{
		text-align:center;
	}
	
	#message_container{
		display:inline-block;
	}
	
	#nlu_message_one{
		position:relative;
		float:left;
		margin-left:15px;
	}
	
	#nlu_message_two{
		position:relative;
		float: left;
		margin: 0 0 0 10px;
	}
	
	#nlu_message_three{
		position:relative;
		float: left;
		margin: 0 0 0 10px;
	}
	
	.blurb {
		position:absolute;
		background: none repeat scroll 0 0 rgba(52, 182, 250, 0.8);
		
		width:100%;
		
		padding: 10px 0 12px 0;
		z-index:10;
		text-align:center;
	}
	
	#blurb_one{
		top:0;
		left:0;
	}
	
	#blurb_two, #blurb_three{
		top:0;
		left:0;
	}
	
	#blurb_one a, #blurb_two a, #blurb_three a{
		color: #FFFFFF;
		font-size: 15px;
		font-weight: bold;
		line-height: 17px;
	}
	
	#blurb_one a:hover, #blurb_two a:hover, #blurb_three a:hover{
		text-decoration:underline;
	}
	
	#icon_0, #icon_1, #icon_2, #icon_3, #icon_4, #icon_5, #icon_6, #icon_7, #icon_8, #icon_9{
		position: absolute;
	}
	
	#icon_0{
		top:10px;
		left:10px;
	}
	
	#icon_1{
		bottom: 10px;
		left: 10px;
	}
	
	#icon_2{
		bottom: 10px;
		right: 10px;
	}
	
	#icon_3{
		top: 10px;
		right: 10px;
	}
	
	#icon_4{
		top:60px;
		left:10px;
	}
	
	#icon_5{
		bottom:60px;
		left:10px;
	}
	
	#icon_6{
		bottom: 60px;
		right: 10px;
	}
	
	#icon_7{
		top: 60px;
		right: 10px;
	}
	
	#icon_8{
		top: 10px;
		right: 60px;
	}
	
	#icon_9{
		bottom: 10px;
		right: 60px;
	}
	

	
	
/*++++++++++++++++++++++++ NLU Design ++++++++++++++++++*/
	
	#masthead {
		width:1002px;
		margin:0 0 10px 0;
		padding:10px;
	}
	
	
	
	#mastheadcreate{
	    position: relative;
		top:-25px;
		width:1002px;
		margin:0 0 10px 0;
		padding:10px;
	}
	
/* Memeja Logo */
	#logoc {
		float:left;
		width:280px;
		left:10%;
		top:-35px;
	}
	
/* The Navigation Buttons*/
	#headerbtns {
		float:right;
		top:30px;
		cursor:pointer;
		
	}

/* SearchBar! */
	#searches {
		position: relative;
		top:-40px;
		left:420px;
	}
	
/* Main Container with the middle column and the sidebars */
	#contained {
		position: absolute;
		moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;
		
	}

/* Middle Column for Live Feed and Meme Editor */
	#content {
		margin-left:280px;
		margin-right:300px;
		top: -10px;
		padding:10px;
		width:580px;
		background:#FFF;
	    moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;
		voice-family:"\"}\"";
		voice-family:inherit;
	}
	html>body #content {
	    width:580px;
	}
	
	#editorcontent{
		margin-left:280px;
	}
	
/* Sidebar A - For Your Profile Information */
	#sidebar_a {
		float:left;
		padding:10px;
		width:220px;
	    background:#FFF;
		moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;
		voice-family:"\"}\"";
		voice-family:inherit;
		width:220px;
	}
	html>body #sidebar_a {
		width:220px;
	}
	
/* Sidebar B - For Other's Profile Information */
	#sidebar_b {
	    position:absolute;
		top:0px;
		left:910px;
		float:left;
		padding:10px;
		moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;
		width:220px;
		background:#FFF;
	    voice-family:"\"}\"";
		voice-family:inherit;
		width:220px;
	}
	html>body #sidebar_b {
	    width:220px;
	}

/* Footer with Copyright Stuff (might add About us there) */	
	#footer 	{
		background:#87C8F0;
		height:30px;
		color:#000;
		clear:both;
		width:738px;
		padding:10px;
	}

/* Header Section */

#header h1	{
    font:Garamond;
	color:#FFF;
	font-size:24px;
	font-weight:bold;
	float:left;
}
#header h1 a	{
	text-decoration:none;
}

#header a	{
	color:#FFF;
	font-size:18px;
}

/*Under Join Memeja*/
#fblogin {
  display:none;
  position:absolute;
  top:45px;
  left:508px;
}

/* Next to xpbar */
#fbstuff{
  position:fixed;
  left:81.5%;
  top:0px;
  padding:5px;
  font-weight:bold;
  font:Lucida Console;
  moz-border-radius: 20px;
   webkit-border-radius: 20px;
   khtml-border-radius: 20px;
   border-radius: 20px;
}

#fbstuff a{
  margin:-2px;
  color:#FFF;
  font-size: 14px;
  font:Lucide Console;
}

#follower{
background:#4C4C4C;
moz-border-radius: 10px;
   webkit-border-radius: 10px;
   khtml-border-radius: 10px;
   border-radius: 10px;
}

#openingmsg {
  font-size:25px;
  color:#000;
}

/* XP Bar */
#xpbar {
    position:fixed;
	top: 0px;
    left: 11%;
    right: 20%;
	width: 70%;
	z-index:999998;
}

#user_level{
	position: fixed;
	
	font-size: 14px;
	font: Lucida Console;
	color: white;
	
	cursor: default;
	
	top: 2px;
	left: 12%;
	z-index: 999999;

}

#xpbar_status {
	position: fixed;
	
	font-size: 14px;
	font: Lucida Console;
	color: white;
	
	display: none;
	cursor: default;
	
	top: 2px;
	left: 40%;
	z-index: 999999;
}

	#uploader {
	    position:absolute;
		top:-30px;
		padding:5px;
	    right:30px;
		z-index:99;
		background:#FFF;
		moz-border-radius: 10px;
		webkit-border-radius: 10px;
		khtml-border-radius: 10px;
		border-radius: 10px;
	}

	.spacer {
		padding:5px;
		margin:5px;
	}
	
	#editorside {
		position:absolute;
		background:#FFF;
		moz-border-radius: 10px;
		webkit-border-radius: 10px;
		khtml-border-radius: 10px;
		border-radius: 10px;		
	}


label.error	{
	color:#FF0000;
	font-size:12px;
}
.fltlft	{
	float:left;
}
.fltrht	{
	float:right;
}
.tl	{	
	text-align:left;
}
.tc	{	
	text-align:center;
}
.tr	{
	text-align:right;
}
.clear	{
	clear:both;
}
.odd	{
	background:#B5C8E8;
}
.even	{
	background:#95AADB;
}
#page	{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background:#FFF;

}
.push	{
	height:30px;
}
/* ======================================= */

/* Listing Section */
.form_tbl 	{
	border:#4D79A6 solid 1px;
}
.form_tbl th	{
	background:#4D79A6;
	color:#FFF;
	text-align:left;
	padding:5px 10px;
}
.form_tbl td	{
	color:#000;
}
.btn	{
	background:#F18200;
	border:#FF0000 solid 1px;
	padding:2px 5px;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
}
.list_tbl 	{
	border:#4D79A6 solid 1px;
}
.list_tbl th	{
	background:#4D79A6;
	color:#FFF;
	text-align:left;
	padding:5px 10px;
}
.list_tbl td	{
	padding:3px;
}
.list_tbl td a	{
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
.list_tbl td a:hover	{
	text-decoration:underline;
}

/* ======================================= */

/* Pagination Section */
.pagination {background: #fff; text-align: center; color: #333 !important;padding: 12px 10px 6px;}
.pagination a {
	display: inline;
	border: 0;
	background:#FFF;
	border:#4D79A6 solid 1px;
	margin: 0 2px;
	padding: 3px 7px;
}
.pagination a:hover,
.pagination a:active,
.pagination a:focus {
	color: #000 !important;
	font-weight:bold;
}
.pagination a.page_current {
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	background:#4D79A6;
}
.pagination a.page_next {
	color:#000;
	text-decoration:underline;
}
.pagination a.page_other {
	color:#000;
	text-decoration:none;
}
.pagination strong {position: relative; padding: 15px 10px 8px;}


.pagination_box {background: #fff; text-align: center; color: #333 !important;padding: 12px 10px 6px;}

.pagination_box a {
	display:inline-block;
	width:20px;
	text-align:center;
	text-decoration:none;
	margin:3px 2px;
	height:20px;
	color:#FFFFFF;
}
.pagination_box a.page_next {
	background:#ffffff;
	border:1px solid #9AAFE5;
	color:#105CB6;
	height:20px;
}
.pagination_box a.page_other {
	background:#ffffff;
	border:1px solid #9AAFE5;
	color:#105CB6;
	font-size:10px;
	padding:2px 3px;
	width:auto;
	margin-right:2px;
	height:16px;
	margin-top:2px;
}
.pagination_box a.page_next:hover{
	background:#2E6AB1;
	color:#ffffff;
	border:1px solid #9AAFE5;
}
.pagination_box a:hover,
.pagination_box a:active,
.pagination_box a.page_current {
	background:#4D79A6;
	color:#FFF;
	border:1px solid #9AAFE5;
}
.pagination_box strong {position: relative; padding: 15px 10px 8px;}


.pagination_adv	{
	background:#e5e5e5;
	height:23px;
	padding:5px;
	font-weight:bold;
	color:#261935;
	width:430px;
	margin:0px auto;
	font-size:11px;
	border:#616161 solid 1px;
}
.pagination_adv	form{
	margin:0px;
	padding:0px;
	float:left;
}
.pagination_adv *{
	float:left;
	text-decoration:none;
	margin:0px 2px;
}
.pagination_adv label{
	float:left;
	text-decoration:none;
	margin:2px 2px 0px 2px;
}
.pagination_adv	a{
	height:20px;
	width:auto;
	overflow:hidden;
}
.pagination_adv .submit_btn	{
	width:30px;
	height:20px;
	border:#ABAAA8 solid 1px;
	background:#CCCCCC;
	color:#333333;
}
.pagination_adv .txtbox	{
	width:30px;
	height:16px;
	border:#ABAAA8 solid 1px;
}
.pagination_adv .txtbox1	{
	width:30px;
	height:20px;
	border:#ABAAA8 solid 1px;
}
/* ======================================= */

.mail_nav	{
	height:28px;
	margin:0px;
	padding:0px;
	border-bottom:#95AADB solid 1px;
}
.rest	{
	background:#4D79A6;
	float:left;
	list-style-type:none;
	display:block;
	height:27px;
	margin:0px 1px;
}
.rest a	{
	color:#FFF;
}

.mail_nav li a	{
	display:block;
	height:16px;
	padding:5px 8px;
	outline:none;
}
.mail_nav li a:hover	{
	background:#95AADB;
	border-bottom:#95AADB solid 1px;
}
.current2	{
	background:#95AADB;
	border-bottom:#95AADB solid 1px;
	font-weight:bold;
	color:#000;
}
.current2 a	{
	text-decoration:none;
	color:#000;
}
.mailnav_main	{
	width:600px;
	margin:0px auto;
}
.mail_container	{
	border:#4D79A6 solid 1px;
	border-top:none;
	width:598px;
	margin:0px auto;
}
.mail_list th	{
	text-align:left;
	padding:5px;
	background:#4D79A6;
	color:#FFF;
}
.mail_list td	{
	text-align:left;
	padding:5px;
}

.readmail,.readmail a	{
	color:#000;
}
.readmail td	{
	border-bottom:#B2B2B2 solid 1px;
}

.unreadmail	{
	background:#E2E9F3;
	color:#000;
	font-weight:bold;
}
.unreadmail a	{
	color:#000;
	font-weight:bold;
}
.unreadmail td	{
	border-bottom:#B2B2B2 solid 1px;
}
#logintable	{
	width:250px;
	margin:10px 20px 20px 5px;
}

#logintable #new_user	{
	/*border:#06C solid 1px;*/
	width:220px;  
	height:125px;
	float:left;
	padding:5px 10px 0px;
}
#new_user h1	{
	color:#587381;
	text-transform:uppercase;
	font-size:14px;
	padding-bottom:5px;
	border-bottom:#C4D6EC solid 1px;
}

/* CSS for REGISTERED USERS */
#logintable #register_user	{
	/* border:#06C solid 1px;  */
	float:left;
	padding:5px;
	margin-top:-5px;
 	/*margin-left:5px */
}

#logintable #uname, #pass {
	width:95%
}

#uname, #pass {
	height: 20px;
	border-radius: 3px 3px 3px 3px;
	outline:medium none;
	padding:4px;
}

#fgtpwdtable	{
	width:500px;
	margin:20px auto;
}
#fgtpwdtable #new_user	{
	border:#06C solid 1px;
	width:360px;
	float:left;
	padding:20px 20px 0px;
}
#new_user h1	{
	color:#587381;
	text-transform:uppercase;
	font-size:14px;
	padding-bottom:5px;
	border-bottom:#C4D6EC solid 1px;
}

#register_user h1	{
	color:#587381;
	text-transform:uppercase;
	font-size:14px;
	padding-bottom:5px;
	border-bottom:#C4D6EC solid 1px;
}
table.userinfo input.fields	{
	border:#ACACAC solid 1px;
	width:246px;
	height:16px;
	padding:2px;
}
table.userinfo input.fields:focus	{
	background:#EDF7FD;
	border:#ACACAC solid 1px;
	width:246px;
	height:16px;
	padding:2px;
}
.create_account	{
	float:left;
	background:#F18200;
	border:#FF0000 solid 1px;
	width:120px;
	padding:5px 0px;
	text-align:center;
}
.create_account a	{
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}

/* Non-Fb Login Button */
.inputbtn	{	
	box-shadow: 0 1px 0 #FFFFFF;
	height: 30px;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	overflow: visible;
	padding: 5px 10px;
	margin-left:10px;

	background: none repeat scroll 0 0 rgba(52, 182, 250, 0.8);
    border-color: #057ED0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 4px 4px 4px 4px;
}

.inputbtn:hover, .inputbtn:focus {
	background-color: #0271BF;
    background-image: -moz-linear-gradient(#2DADDC, #0271BF);
    background-repeat: repeat-x;
    border-color: #096EB3;
}


.showmodal{
	width:400px;
	height:35px;
	position:fixed;
	left:50%;
	top:50%!important;
	border:0px solid black;
	font-size:16px;
	color:#FFF;
	background:#111;
	z-index:99999999;
}


	
/* Exp Bar Tab */
.expbar{
	position:fixed;
	bottom:15px;
	left:7px;
}
.exp_fix1{
	position:fixed!important;
	top:485px!important;
}
.notify {
	cursor: pointer;
	position:fixed;
	bottom:15px;
	left:100px;
}
.not_txt{
	cursor: pointer;
	background-color: red;
	position:fixed;
	left: 155px;
	bottom: 20px;
	width:13px;
	height:16px;
	display:none;
}
.leftpan_img{
	 background:url(##LBL_SITE_URL##templates/images/m_previous_btn.png) no-repeat;
	 width:11px;
	 height:71px;
         position:absolute;
         position:fixed;
	 left:5px;
         top:400px;
	 z-index: 5;
}
.rightpan_img{
	background:url(##LBL_SITE_URL##templates/images/m_next_btn.png) no-repeat;
	 width:11px;
	 height:71px;
         position:absolute;
         position:fixed;
         right:5px;
         top:400px;
	 z-index: 5;
}

/* Notification pop-up */
.inner{
	outline:1px solid #000;
	background-color:wheat;

}

/* Location of Notification pop-up */
.slide .inner {
	position: fixed;
	left: 102px;
	bottom: 33px;
	z-index:9999999;
}

/* Outer div to live feed */
#meme_content{
	background-color:#e6e6dc;
	-moz-border-radius-topright: 15px; -webkit-border-top-right-radius: 15px; border-top-right-radius: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px; 
	
	-moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px; 
}

/* Inner div to live feed */
#meme_organs{
 position: relative;
 top:30px;
 margin-left: 20px;
 margin-right: 20px;
 background-color: #ffffff; 
 -moz-border-radius: 10px; 
 -webkit-border-radius: 10px; 
 border-radius: 10px;
}

a{
	text-decoration: none;
	cursor: pointer;
}
.meme{
	position: relative;
	top:-25px;
	margin-left: 15px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;  /* background for meme color */
	width:550px;
	height:auto;

	-moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; 

	-moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px;

	 border-bottom: 1px dotted #e6e6dc;

}

/* Inner formatting of live feed meme */
img.avatar_thumb_fb, 
img.avatar_thumb_regular {
	width: 40px;
	height: 40px;
}

#meme_title {
	position:relative;
	bottom:6px;
	padding-left:10px; 
	font-size: 18.5px; 
	font-weight: bold;
}

.meme_reproductive_system{
	position:relative; 
	left:55px;
}

.dec{			
font-size: 12px;
font-weight: bold;
}

#tab div	{
	margin-right:-20px;
	font-weight:bold;
}

{* Float of 'Main Live Feed' and 'Network Feed' *}
.fltlft	{
	margin-left:25px;
	float:left;
}
.unselected	{
	background-color:#AAD8F3;
	width:auto;
	height:23px;
	text-align:center;
	padding-top:7px;
}
.hover	{
	background-color:#CAD8F3;
	height:23px;
	width:auto;
	text-align:center;
	padding-top:7px;
}
.selected	{
	background-color:#4D79A6;
	width:auto;
	height:23px;
	text-align:center;
	padding-top:7px;
}
a{
	text-decoration:none;
}
.borderyes	{
	border:#000000 solid 1px;
}

