/*   Welcome to Pati's mess for Memeja! (Currently Under Construction By Muaz)   */


/****************************** Main Page Styling *******************************/


/* Default values for site stored in body (Sized in em for Cross-Browser Compatibility) */
	html,body {
		font-family: Trebuchet, Helvetica, sans-serif;
		font-size:0.8em;
		margin:10px 0% 10px 0%;
		background-color:#87C8F0;
		/*width: 1000px;*/
			/*Removed for NLU sizing */
	}

/* =p Define paragraph text size */
	p {
		font-size:1.1em;
	}
	  
/* =h Define headings font sizes */
	h1 {
		font-size:2em;
	}
	h2 {
		font-size:1.8em;
	}
	h3 {
		font-size:1.7em;
	}

/* Define form and table font-size */
	input, select, th, td {
		font-size:1.1em;
	}
	
	a{
		color:#0099FF;
		outline:none;
    }
	
	h1,h2,h3,h4,h5,h6,form{
		margin:0px;
		padding:0px;
	}

/* Highlighting Problem*/

	.nohighlight {
	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;
	}
	
	
/*++++++++++++++++++++++++++ Memeja Header ++++++++++++++++++++++++++++*/	

/*++++++++++++++++++++++++ NLU Design ++++++++++++++++++*/

	#nlu_login{
		background:#FFF;
		float:left;
		margin:0 0 0 20px;
		position:relative;
		left:40px;
		top:60px;
		width: 250px;
	    moz-border-radius: 12px;
	    webkit-border-radius: 12px;
	    khtml-border-radius: 12px;
	    border-radius: 12px;
		box-shadow: 0 0 4px 0 #555555;
	}
	
	#nlu_login_register{
		background:#FFF;
		float:left;
		left:40px;
		margin:40px 0 0 20px;
		position:relative;
		top:60px;
		width:250px;
	    moz-border-radius: 12px;
	    webkit-border-radius: 12px;
	    khtml-border-radius: 12px;
	    border-radius: 12px;	
		box-shadow: 0 0 4px 0 #555555;
	}
	
	#nlu_contained {
		position: relative;
		top:65px;
		left:-100px;
		moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;	
	}
	
	
	#registration {
		position:relative;
		top:60px;
	}
	
	#forgot_pwd{
		padding:10px 0 12px 0;
		margin: 10px 0 0 30px;
	}
	
	#signup{
		margin:15px 20px 20px 12px;
	}
	
	#signup_text{
		font:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:20px;
		font-style: bold;
		color: #333333;
		line-height:20px;
		
		margin-bottom:15px;
	}
	
	#signup_explanation, #signup_alt{
		font:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:12px;
		color: #666666;
		padding-left: 6px;
	}
	
	#explanation_header{
		font-size: 16px;
		border-bottom: 1px solid #E2E2E2;
		margin-bottom: 8px;
		padding: 12px 0 12px 0 ;
		line-height: 20px;
		font-weight: 300;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
		box-shadow: 0 1px 0 #FFFFFF;
	}
	
	#lol_promise{
		padding-top:15px;
	}
	
	#lol_promise_mascot{
		margin-left:-10px; 
		padding-bottom:5px;
	}
	
	#lol_plomise_mascot{
		padding-left:3px; 
		padding-top:5px; 
		border-top: 1px solid #E2E2E2
	}
	
	#lol_promise_text{
		float:right;
		margin: 15px 14px 0 0;
		font-size: 19px;
		font-weight:300;
		line-height:20px;
		color:#00CC00;
	}
	
	#lol_plomise_text{
		float:right;
		font-size:14px;
		margin: 17px 0 0 0;
		color:#FA3A56;
	}
	
	#nlu_container{
		margin:0.5% 0 0 0;
		position: relative;
		top:60px;
		left:40px;
		background-color: rgba(255, 255, 255, 0.7);
	}
	#nlu_container img {
		width:860px;
		height:445px;;
		moz-border-radius: 12px;
	    webkit-border-radius: 12px;
	    khtml-border-radius: 12px;
	    border-radius: 12px;
	}
	
	#transparent {
		width:860px;
		height:445px;
		opacity:0.4;
		filter:alpha(opacity=40); /* For IE8 and earlier */
	}
	
	#nlu_feed{
		float:left; 
		position: relative;
		margin:0 0 0 0;
		padding: 15px 50px 50px 50px;
		width:860px;
		height:400px;
		background-color:#87C8F0; 
		opacity:0.97;
	    moz-border-radius: 12px;
	    webkit-border-radius: 12px;
	    khtml-border-radius: 12px;
	    border-radius: 12px;
		
		box-shadow: 0 0 4px 0 #555555;
	}	
		
	.module_text{
		font:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:30px;
		font-weight: 700;
		line-height: 1.2em;
		color: black;
	}
	
	#front_card{
		position:absolute;
		top:35px;
		left: 170px;
		text-align:left;
		font-size:50px;
		color: #fa3a56;
		padding:5px 10px;
		#background:rgba(58,250,222,0.3);
	}
	
	#first_half{
		font-size:24px;
		margin-top:140px;
		margin-left:20px;
		padding-bottom:15px;
		color:#7E3AFA;
	}
	
	#second_half{
		float:right;
		margin-right: 20px;
		font-size:20px;
		padding-top: 25px;
	}
	
	#module_container{
		text-align:center;
	}
	
	#message_container{
		display:inline-block;
	}
	
	#nlu_message_one{
		position:relative;
		float:left;
		margin-left:15px;
	}
	
	#nlu_message_two{
		position:relative;
		float: left;
		margin: 0 0 0 10px;
	}
	
	#nlu_message_three{
		position:relative;
		float: left;
		margin: 0 0 0 10px;
	}
	
	.blurb {
		position:absolute;
		background: none repeat scroll 0 0 rgba(52, 182, 250, 0.8);
		
		width:100%;
		
		padding: 10px 0 12px 0;
		z-index:10;
		text-align:center;
	}
	
	#blurb_one{
		top:0;
		left:0;
	}
	
	#blurb_two, #blurb_three{
		top:0;
		left:0;
	}
	
	#blurb_three{
		background: none repeat scroll 0 0 rgba(58,250,126,0.7);
	}
	
	#blurb_one a, #blurb_two a, #blurb_three a{
		color: #FFFFFF;
		font-size: 15px;
		font-weight: bold;
		line-height: 17px;
	}
	
	#blurb_one a:hover, #blurb_two a:hover, #blurb_three a:hover{
		text-decoration:underline;
	}
	
	.front_icon{
		position: absolute;
		border: 1px solid rgba(163,193,173,0.4);
	}
	
	#icon_0{
		top:10px;
		left:10px;
	}
	
	#icon_1{
		bottom: 10px;
		left: 10px;
	}
	
	#icon_2{
		bottom: 10px;
		right: 10px;
	}
	
	#icon_3{
		top: 10px;
		right: 10px;
	}
	
	#icon_4{
		top:60px;
		left:10px;
	}
	
	#icon_5{
		bottom:60px;
		left:10px;
	}
	
	#icon_6{
		bottom: 60px;
		right: 10px;
	}
	
	#icon_7{
		top: 60px;
		right: 10px;
	}
	
	#icon_8{
		top: 10px;
		right: 60px;
	}
	
	#icon_9{
		bottom: 10px;
		right: 60px;
	}
	
	#icon_10{
		top: 10px;
		left: 60px;
	}	
	
	#icon_11{
		bottom:10px;
		left:60px;
	}
	
	#icon_12{
		top: 110px;
		left: 10px;
	}
	
	#icon_13{
		bottom: 110px;
		right: 10px;
	}
	
	#icon_14 {
		bottom: 10px;
		right: 110px;
	}
	
	#icon_15{
		top: 10px;
		right: 110px;
	}
	
	#icon_16{
		bottom: 10px;
		left: 110px;
	}
	
	#icon_17{
		top: 10px;
		left: 110px;
	}
	
	#icon_18{
		top: 110px;
		right: 10px;
	}
	
	#icon_19{
		bottom: 110px;
		left: 10px;
	}
	
	#icon_20{
		top: 10px;
		left: 160px;
	}
	
	#icon_21{
		top: 10px;
		right: 160px;
	}
	
	#icon_22{
		bottom: 160px;
		left: 10px;
	}
	
	#icon_23{
		top: 160px;
		right: 10px;
	}
	
	#icon_24{
		bottom: 160px;
		left: 10px;
	}
	
	#icon_25{
		bottom: 10px;
		left: 160px;
	}
	
	#icon_26{
		top: 160px;
		left: 10px;
	}
	
	#icon_27{
		top: 210px;
		left: 10px;
	}
	
	#icon_28 {
		top:260px;
		left: 10px;
	}
	
	#icon_29{
		bottom: 10px;
		left: 210px;
	}
	
	#icon_30{
		bottom: 10px;
		left: 260px;
	}
	
	#icon_31{
		bottom: 10px;
		left: 310px;
	}
	
	#icon_32{
		bottom: 10px;
		left: 360px;
	}
	
	#icon_33{
		bottom: 10px;
		left: 410px;
	}
	
	#icon_34{
		bottom: 10px;
		left: 460px;
	}
	
	#icon_35{
		bottom: 10px;
		left: 510px;
	}
	
	#icon_36{
		bottom: 10px;
		left: 560px;
	}
	
	#icon_37{
		bottom: 10px;
		left: 610px;
	}
	
	#icon_38{
		bottom: 10px;
		left: 660px;
	}
	
	#icon_39{
		bottom: 10px;
		left: 710px;
	}
	
	#icon_40{
		bottom: 10px;
		left: 760px;
	}
	
	#icon_41{
		top: 10px;
		left: 210px;
	}
	
	#icon_42{
		top: 10px;
		left: 260px;
	}
	
	#icon_43{
		top: 10px;
		left: 310px;
	}
	
	#icon_44{
		top: 10px;
		left: 360px;
	}
	
	#icon_45{
		top: 10px;
		left: 410px;
	}
	
	#icon_46{
		top: 10px;
		left: 460px;
	}
	
	#icon_47{
		top: 10px;
		left: 510px;
	}
	
	#icon_48{
		top: 10px;
		left: 560px;
	}
	
	#icon_49{
		top: 10px;
		left: 610px;
	}
	
	#icon_50{
		top: 10px;
		left: 660px;
	}
	
	#icon_51{
		top: 10px;
		left: 710px;
	}
	
	#icon_52{
		top: 210px;
		right: 10px;
	}
	
	#icon_53{
		top: 260px;
		right: 10px;
	}
	
	#icon_54{
		top: 310px;
		right: 10px;
	}
	
/*++++++++++++++++++++++++ NLU Design ++++++++++++++++++*/
	
	#masthead {
		width:1002px;
		margin:0 0 10px 0;
		padding:10px;
	}
	
	
	#mastheadcreate{
	    position: relative;
		top:-25px;
		width:1002px;
		margin:0 0 10px 0;
		padding:10px;
	}
	
/* Memeja Logo */
	#logoc {
		float:left;
		left:70px;
		position:fixed;
		top:2px;
		z-index:9002;
	}
	
	
/* Main Container with the middle column and the sidebars */
	#contained {
		position: relative;
		top:40px;
		left:-150px;
		moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;	
	}

/* Main Profile Page */
	#profile_page {
		background-color:#fff;
		margin-left:200px;
		margin-right:400px;
		padding:10px;
		position:relative;
		top:0px;
		width:800px;
	    moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;
		voice-family:"\"}\"";
		voice-family:inherit;
	}
	html>body #profile_page {
	    width:800px;
	}
	
	
/* The Live Feed on the Right */
	#live_feed {
	    background-color:#87C8F0;
		float:right;
		left:1070px;
		position:absolute;
		top:-20px;
		width:350px;
		moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;
		voice-family:"\"}\"";
		voice-family:inherit;
		width:350px;
	}
	html>body #live_feed {
		width:350px;
	}
	
	#random_meme {
		margin-left:auto;
		margin-right:auto;
		position:absolute;
		left:130px;
	}
	
	#feed_cont {
		margin-left:auto;
		margin-right:auto;
	}
	
	#world_feed {
		float:left;
	}
	
	#friends_feed {
		position:absolute;
		right:-10px;
	}
	
/* Keeps track of your Network 
	#friend_feed {
		background:#FFF;
		left:1020px;
		padding:10px;
		position:absolute;
		top:-20px;
		width:300px;
		moz-border-radius: 20px;
	    webkit-border-radius: 20px;
	    khtml-border-radius: 20px;
	    border-radius: 20px;
	    voice-family:"\"}\"";
		voice-family:inherit;
		width:300px;
	}
	html>body #friend_feed {
	    width:300px;
	}

/* The top Bar */	
	#top_header 	{
		background:#f5f5f5;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
		color:#000;
		clear:both;
		height:20px;
		left:-50px;
		top:0px;
		padding:10px;
		position:fixed;
		width:1400px;
		z-index:99;
		
	}

/* Header Section */

#header h1	{
    font:Garamond;
	color:#FFF;
	font-size:24px;
	font-weight:bold;
	float:left;
}
#header h1 a	{
	text-decoration:none;
}

#header a	{
	color:#FFF;
	font-size:18px;
}

/*Under Join Memeja*/
#fblogin {
  display:none;
  position:absolute;
  top:45px;
  left:508px;
}

/* Next to xpbar */
#fbstuff{
  position:fixed;
  left:81.5%;
  top:0px;
  padding:5px;
  font-weight:bold;
  font: arial, sans-serif;
  moz-border-radius: 20px;
   webkit-border-radius: 20px;
   khtml-border-radius: 20px;
   border-radius: 20px;
}

#fbstuff a{
  margin:-2px;
  color:#FFF;
  font-size: 14px;
  font: arial, sans-serif;
}

#follower{
background:#4C4C4C;
moz-border-radius: 10px;
   webkit-border-radius: 10px;
   khtml-border-radius: 10px;
   border-radius: 10px;
}

#openingmsg {
  font-size:25px;
  color:#000;
}

/* XP Bar */
	
	#xpbar_info {
		left:280px;
		position: fixed;
		top:10px;
	}
	
	#xpbar {
		position:relative;
		width:600px;
		z-index:9000;
	}

	#user_level{
		color: white;
		cursor: default;
		font: arial, sans-serif;
		font-size: 14px;
		font-weight:bold;
		left:5px;
		position: relative;
		top:-16px;
		z-index: 9001;
	}

	#xpbar_status {
		color: white;
		cursor: default;
		display:none;
		font: arial, sans-serif;
		font-size: 14px;
		font-weight:bold;
		left:270px;
		position: relative;
		top:-32px;
		z-index: 9002;
	}

/****/

	.spacer {
		padding:5px;
		margin:5px;
	}
	
	#editorside {
		position:absolute;
		background:#FFF;
		moz-border-radius: 10px;
		webkit-border-radius: 10px;
		khtml-border-radius: 10px;
		border-radius: 10px;		
	}

/*+++++++++++++++++++++++++++++++++   Left Panel CSS>> Top-Header CSS   +++++++++++++++++++++++++++++++++*/
	
	#user_name {
		display: block;
		font-weight:bold; 
		color:black;
		font-size:20px;
		left:1050px;		
		padding-top:2px;
		position:fixed;
		text-align:center;
		text-shadow: 0px 1px 0px #e5e5ee;
		top:5px;
		z-index:9002;
	}
	
	#login_top {
		left:1080px;		
		position:fixed;
		top:10px;
		z-index:201;
	}
	
	#other_user_name {
		font-weight:bold;
		font-size:18px;
		text-align:center;
		display:block;
	}
	
	#ranking_number, #trailing_ranking_number{
		color: #81cdfe; 
		font-family:Verdana; 
		font-size:14px;
		font-weight:bold;
		text-shadow:2px 1px 2px #000;
		left:0px;
		position: absolute;
		top:-2px;
		z-index:9001;
	}
	
	#user_ranking_info {
		background-color: #4ebaff;
		box-shadow: 0 0 4px 0 #555555; 
		color:white; 
		font-family:Verdana; 
		font-weight:bold;
		height:32px;
		left:925px;		
		position:fixed;
		text-align:center;
		top:5px;
		width:35px; 
		z-index:100;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	
	#other_user_ranking_info{
		background-color: #aad450;
		box-shadow: 0 0 4px 0 #555555;
		color:white;
		font-family:Verdana;
		font-weight:bold;
		height:32px;
		left:975px;
		position:fixed;
		text-align:center;
		top:5px;		
		width:65px;
		z-index:100;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	
	#user_pic{
		position:fixed;
		top:5px;
		z-index:9001;
		left:1000px;
		box-shadow: 0 0 4px 0 #555555;
	}
	
	#trailing_user_pic {
		position:fixed;
		top:5px;
		z-index:9001;
		left:950px;
		box-shadow: 0 0 4px 0 #555555;
	}
	
	#trailing_user{
		font-size:10px;
		position:relative;
		top:2px;
	}
	
	
	#liked_memes {
		background-color:#87C8F0;
		border:double;
		border-color:#ACACA5;
		border-width:2px;
		margin:5px;
		padding:5px;
		text-align:center;
		moz-border-radius: 10px;
		webkit-border-radius: 10px;
		khtml-border-radius: 10px;
		border-radius: 10px;
	}
	
	#user_memes{
		position: relative;
	}
	
/****************************************************************************************************/

/*^^^^^^^^^^^^^^^^^^^^^ Tagged Memes ^^^^^^^^^^^^^^^^^^^^^*/
	#view_meme {
		position:relative;
		top:20px;
	}
	
	#profile_meme{
		font-size:18px;
		font-weight:bold;
		text-align:center;
	}
	
	#profile_meme_image {
		margin-left:auto;
		margin-right:auto;
		margin-bottom:60px;
		position:relative;
		text-align:center;
		top:30px;
	}
	
	#profile_tagged {
		position:absolute;
		top:-100px;
		left:500px;
		font-size:16px;
		font-weight:bold;
		padding:5px;
		text-align:center;
		box-shadow: 0 0 4px 0 #87C8F0;
	}

/*Hover User Profile*/

	#more_ranking_number{
		color:white; 
		font-family:Verdana; 
		font-size:20px;
		font-weight:bold;
		position:relative;
		top:-3px;
	}
	
	#rank {
		color:white; 
		display:block;
		font-family:Verdana; 
		font-size:14px;
		font-weight:bold;
	}
	
	#total_xp {
		font-size:12px;
		margin-left:12px;
		position:relative;
		top:-3px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	
	#more_user_ranking_info {
		background-color: #4ebaff;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px; 
		font-family:Verdana; 
		font-weight:bold;
		color:white; 
		width:65px;
		height:55px; 
		text-align:center;
		position:absolute;
		top:20px;
		left:230px;
		
	}
/*#################################Profile_Page###################################*/

	.profile_pic{
		width:100px;
		height:100px;
		}

	#profile_pic {
		background-color:#ECECEC;
		border-color:#ACACA5;
		border-style: solid;
		border-width:1px;
		box-shadow: 0 0 5px 0 #aad450;
		height:105px;
		left:20px;
		padding:1px;
		padding-top:5px;
		position:relative;
		text-align:center;
		top:10px;
		width:105px;
		moz-border-radius: 10px;
		webkit-border-radius: 10px;
		khtml-border-radius: 10px;
		border-radius: 10px;
		}

/*@@@@@@@@@@@@@@@@@@@@@@@@  User Info @@@@@@@@@@@@@@@@@@@@@@@@*/

	#user_info{
		position:absolute;
		left:170px;
		top:30px;
	}
	
	#profile_name {
		font-size:36px;
		position:relative;	
	}
	
	#username {
		font-size:20px;
		position:relative;
	}
	
	#follower_count {
		position:relative;
	}
	
	#addMeme_link {
		width:60px;
		height:60px;
		padding:2px;
		text-align:center;
		top:-10px;
		left:500px;
		position:absolute;
	}
	
	#my_pics {
		position:relative;
		top:20px;
	}
	
	#my_favorites {
		position:relative;
	}
	
	#my_meme_list{
		position:relative;
	}

/*################################################################################*/

label.error	{
	color:#FF0000;
	font-size:12px;
}
.fltlft	{
	float:left;
}
.fltrht	{
	float:right;
}
.tl	{	
	text-align:left;
}
.tc	{	
	text-align:center;
}
.tr	{
	text-align:right;
}
.clear	{
	clear:both;
}
.odd	{
	background:#B5C8E8;
}
.even	{
	background:#95AADB;
}
#page	{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background:#FFF;

}
.push	{
	height:30px;
}
/* ======================================= */

/* Listing Section */
.form_tbl 	{
	border:#4D79A6 solid 1px;
}
.form_tbl th	{
	background:#4D79A6;
	color:#FFF;
	text-align:left;
	padding:5px 10px;
}
.form_tbl td	{
	color:#000;
}
.btn	{
	background:#F18200;
	border:#FF0000 solid 1px;
	padding:2px 5px;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	cursor:pointer;
}
.list_tbl 	{
	border:#4D79A6 solid 1px;
}
.list_tbl th	{
	background:#4D79A6;
	color:#FFF;
	text-align:left;
	padding:5px 10px;
}
.list_tbl td	{
	padding:3px;
}
.list_tbl td a	{
	color:#000;
	font-weight:bold;
	text-decoration:none;
}
.list_tbl td a:hover	{
	text-decoration:underline;
}

/* ======================================= */

/* Pagination Section */
.pagination {background: #fff; text-align: center; color: #333 !important;padding: 12px 10px 6px;}
.pagination a {
	display: inline;
	border: 0;
	background:#FFF;
	border:#4D79A6 solid 1px;
	margin: 0 2px;
	padding: 3px 7px;
}
.pagination a:hover,
.pagination a:active,
.pagination a:focus {
	color: #000 !important;
	font-weight:bold;
}
.pagination a.page_current {
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	background:#4D79A6;
}
.pagination a.page_next {
	color:#000;
	text-decoration:underline;
}
.pagination a.page_other {
	color:#000;
	text-decoration:none;
}
.pagination strong {position: relative; padding: 15px 10px 8px;}


.pagination_box {background: #fff; text-align: center; color: #333 !important;padding: 12px 10px 6px;}

.pagination_box a {
	display:inline-block;
	width:20px;
	text-align:center;
	text-decoration:none;
	margin:3px 2px;
	height:20px;
	color:#FFFFFF;
}
.pagination_box a.page_next {
	background:#ffffff;
	border:1px solid #9AAFE5;
	color:#105CB6;
	height:20px;
}
.pagination_box a.page_other {
	background:#ffffff;
	border:1px solid #9AAFE5;
	color:#105CB6;
	font-size:10px;
	padding:2px 3px;
	width:auto;
	margin-right:2px;
	height:16px;
	margin-top:2px;
}
.pagination_box a.page_next:hover{
	background:#2E6AB1;
	color:#ffffff;
	border:1px solid #9AAFE5;
}
.pagination_box a:hover,
.pagination_box a:active,
.pagination_box a.page_current {
	background:#4D79A6;
	color:#FFF;
	border:1px solid #9AAFE5;
}
.pagination_box strong {position: relative; padding: 15px 10px 8px;}


.pagination_adv	{
	background:#e5e5e5;
	height:23px;
	padding:5px;
	font-weight:bold;
	color:#261935;
	width:430px;
	margin:0px auto;
	font-size:11px;
	border:#616161 solid 1px;
}
.pagination_adv	form{
	margin:0px;
	padding:0px;
	float:left;
}
.pagination_adv *{
	float:left;
	text-decoration:none;
	margin:0px 2px;
}
.pagination_adv label{
	float:left;
	text-decoration:none;
	margin:2px 2px 0px 2px;
}
.pagination_adv	a{
	height:20px;
	width:auto;
	overflow:hidden;
}
.pagination_adv .submit_btn	{
	width:30px;
	height:20px;
	border:#ABAAA8 solid 1px;
	background:#CCCCCC;
	color:#333333;
}
.pagination_adv .txtbox	{
	width:30px;
	height:16px;
	border:#ABAAA8 solid 1px;
}
.pagination_adv .txtbox1	{
	width:30px;
	height:20px;
	border:#ABAAA8 solid 1px;
}
/* ======================================= */

.mail_nav	{
	height:28px;
	margin:0px;
	padding:0px;
	border-bottom:#95AADB solid 1px;
}
.rest	{
	background:#4D79A6;
	float:left;
	list-style-type:none;
	display:block;
	height:27px;
	margin:0px 1px;
}
.rest a	{
	color:#FFF;
}

.mail_nav li a	{
	display:block;
	height:16px;
	padding:5px 8px;
	outline:none;
}
.mail_nav li a:hover	{
	background:#95AADB;
	border-bottom:#95AADB solid 1px;
}
.current2	{
	background:#95AADB;
	border-bottom:#95AADB solid 1px;
	font-weight:bold;
	color:#000;
}
.current2 a	{
	text-decoration:none;
	color:#000;
}
.mailnav_main	{
	width:600px;
	margin:0px auto;
}
.mail_container	{
	border:#4D79A6 solid 1px;
	border-top:none;
	width:598px;
	margin:0px auto;
}
.mail_list th	{
	text-align:left;
	padding:5px;
	background:#4D79A6;
	color:#FFF;
}
.mail_list td	{
	text-align:left;
	padding:5px;
}

.readmail,.readmail a	{
	color:#000;
}
.readmail td	{
	border-bottom:#B2B2B2 solid 1px;
}

.unreadmail	{
	background:#E2E9F3;
	color:#000;
	font-weight:bold;
}
.unreadmail a	{
	color:#000;
	font-weight:bold;
}
.unreadmail td	{
	border-bottom:#B2B2B2 solid 1px;
}
#logintable	{
	width:250px;
	margin:10px 20px 20px 5px;
}

#logintable #new_user	{
	/*border:#06C solid 1px;*/
	width:220px;  
	height:125px;
	float:left;
	padding:5px 10px 0px;
}
#new_user h1	{
	color:#587381;
	text-transform:uppercase;
	font-size:14px;
	padding-bottom:5px;
	border-bottom:#C4D6EC solid 1px;
}

/* CSS for REGISTERED USERS */
#logintable #register_user	{
	/* border:#06C solid 1px;  */
	float:left;
	padding:5px;
	margin-top:-5px;
 	/*margin-left:5px */
}

#logintable #uname, #pass {
	width:95%
}

#uname, #pass, #email {
	height: 20px;
	border-radius: 3px 3px 3px 3px;
	outline:medium none;
	padding:4px;
}

#fgtpwdtable	{
	width:500px;
	margin:20px auto;
}
#fgtpwdtable #new_user	{
	border:#06C solid 1px;
	width:360px;
	float:left;
	padding:20px 20px 0px;
}
#new_user h1	{
	color:#587381;
	text-transform:uppercase;
	font-size:14px;
	padding-bottom:5px;
	border-bottom:#C4D6EC solid 1px;
}

#register_user h1	{
	color:#587381;
	text-transform:uppercase;
	font-size:14px;
	padding-bottom:5px;
	border-bottom:#C4D6EC solid 1px;
}
table.userinfo input.fields	{
	border:#ACACAC solid 1px;
	width:246px;
	height:16px;
	padding:2px;
}
table.userinfo input.fields:focus	{
	background:#EDF7FD;
	border:#ACACAC solid 1px;
	width:246px;
	height:16px;
	padding:2px;
}
.create_account	{
	float:left;
	background:#F18200;
	border:#FF0000 solid 1px;
	width:120px;
	padding:5px 0px;
	text-align:center;
}
.create_account a	{
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}

/* Non-Fb Login Button */
.inputbtn	{	
	box-shadow: 0 1px 0 #FFFFFF;
	height: 30px;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	overflow: visible;
	padding: 5px 10px;
	margin-left:10px;

	background: none repeat scroll 0 0 rgba(52, 182, 250, 0.8);
    border-color: #057ED0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 4px 4px 4px 4px;
}

.inputbtn:hover, .inputbtn:focus {
	background-color: #0271BF;
    background-image: -moz-linear-gradient(#2DADDC, #0271BF);
    background-repeat: repeat-x;
    border-color: #096EB3;
}


.showmodal{
	width:400px;
	height:35px;
	position:fixed;
	left:50%;
	top:50%!important;
	border:0px solid black;
	font-size:16px;
	color:#FFF;
	background:#111;
	z-index:99999999;
}


	
/* Exp Bar Tab */
.expbar{
	position:fixed;
	bottom:15px;
	left:7px;
}
.exp_fix1{
	position:fixed!important;
	top:485px!important;
}
.notify {
	cursor: pointer;
	position:fixed;
	bottom:15px;
	left:100px;
}
.not_txt{
	cursor: pointer;
	background-color: red;
	position:fixed;
	left: 155px;
	bottom: 20px;
	width:13px;
	height:16px;
	display:none;
}
.leftpan_img{
	 background:url(##LBL_SITE_URL##templates/images/m_previous_btn.png) no-repeat;
	 width:11px;
	 height:71px;
         position:absolute;
         position:fixed;
	 left:5px;
         top:400px;
	 z-index: 5;
}
.rightpan_img{
	background:url(##LBL_SITE_URL##templates/images/m_next_btn.png) no-repeat;
	 width:11px;
	 height:71px;
         position:absolute;
         position:fixed;
         right:5px;
         top:400px;
	 z-index: 5;
}

/* Notification pop-up */
.inner{
	outline:1px solid #000;
	background-color:wheat;

}

/* Location of Notification pop-up */
.slide .inner {
	position: fixed;
	left: 102px;
	bottom: 33px;
	z-index:9999999;
}

/* Outer div to live feed */
#meme_content{
	background-color:#e6e6dc;
	-moz-border-radius-topright: 15px; -webkit-border-top-right-radius: 15px; border-top-right-radius: 15px; -moz-border-radius-bottomright: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px; -moz-border-radius-bottomleft: 15px; -webkit-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px; 
	
	-moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; border-top-left-radius: 10px; 
}

/* Inner div to live feed */
#meme_organs{
 position: relative;
 top:30px;
 margin-left: 20px;
 margin-right: 20px;
 background-color: #ffffff; 
 -moz-border-radius: 10px; 
 -webkit-border-radius: 10px; 
 border-radius: 10px;
}

a{
	text-decoration: none;
	cursor: pointer;
}

/* +++++++++++++++++++++++++++ Live Feed +++++++++++++++++++++++++++ */
	.meme{
		background: white;  /* background for meme color */
		border-bottom: 1px dotted #e6e6dc;		
		box-shadow: 0 0 4px 0 #555555;
		height:auto;
		margin:auto;
		position: relative;
		padding: 10px 0px 10px 10px;
		top:-30px;
		width:350px;
		 -moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
		border-radius: 10px;
		z-index:5;

	}

	#meme_title {
		color: #0099FF;
		font-size: 16px; 
		font-weight:bold;
		display:block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space:nowrap;
		padding-left:60px; 
		position:relative;
		top:-45px;
	}
	
	#meme_title_cont {
		width:275px;
	}
	
	#meme_info {
		color:#ACACA5;
		font-size:14px;		
		left:145px;
		position:absolute;
		top:30px;
	}
	
	.meme_reproductive_system { 
		left:123px;
		position:absolute;
		top:35px
	}
	
	#whitebox{
		background-color:#FFF;
		width:30px;
		height:30px;
		position:absolute;
		left:270px;
		top:55px;
		z-index:98;
	}
	
	.meme_like {
		height:35px;
		padding:4px;
		font-size:11px;
		font-weight:bold;
		color:black;
		position:relative;
		left:153px;
		top:-40px;
	}
	
	.meme_like_label {
		width:15px;
		height:15px;
		position:relative;
		top:-10px;
		left:21px;
		text-align:center;
	}
	
	.meme_dislike {
		height:35px;
		padding:4px;
		color:black;
		position:relative;
		left:162px;
		top:-63px;
	}
	
	.meme_dislike_label {
		width:15px;
		height:15px;
		position:relative;
		top:-16px;
		left:12px;
		font-weight:bold;
		font-size:11px;
		text-align:center;
	}
	
	.meme_reply {
		left:205px;
		top:-10px;
		text-align:left;
		color:black;
		position:absolute;
	}
	
	.meme_reply_label {
		font-weight:bold;
		top:-20px;
		left:10px;
		position:relative;
	}
	
	#user_avatar_thumb {
		left:0px;
		padding-left: 10px;
		position:relative;
		top:0px;
	}
	
/* Inner formatting of live feed meme */
img.avatar_thumb_fb, 
img.avatar_thumb_regular {
	width: 40px;
	height: 40px;
}


.dec{			
font-size: 12px;
font-weight: bold;
}



{* Float of 'Main Live Feed' and 'Network Feed' *}
.fltlft	{
	margin-left:25px;
	float:left;
}
.unselected	{
	background-color:#AAD8F3;
	width:auto;
	height:23px;
	text-align:center;
	padding-top:7px;
}
.hover	{
	background-color:#CAD8F3;
	height:23px;
	width:auto;
	text-align:center;
	padding-top:7px;
}
.selected	{
	background-color:#4D79A6;
	width:auto;
	height:23px;
	text-align:center;
	padding-top:7px;
}
a{
	text-decoration:none;
}
.borderyes	{
	border:#000000 solid 1px;
}

/**^^^^^^^^^^^^^^^^^^^^^^^^	Editor Page	^^^^^^^^^^^^^^^^^^^^^^^^**/


	#canvas {
		position:relative;
		width:600px;
	}


	#ques_ans {
		position:relative;
		width:600px;
	}
	
	#editorcontent {
		position:relative;
		top:50px;
		left:510px;
		width:600px;
	}
	
	#img_dpw{
		position:relative;
		left:60px;
	}
	
	#tagline {
		font-weight:bold;
		color:white;
		font-size:14px;
		text-shadow: 2px 2px 3px #555
	}

	#uploader {
	    position:fixed;
		top:50px;
		padding:5px;
	    left:40px;
		z-index:5;
		background:#FFF;
		moz-border-radius: 10px;
		webkit-border-radius: 10px;
		khtml-border-radius: 10px;
		border-radius: 10px;
	}
	
	.main_smiley_loading {
		position:relative;
	}
	
	.smileys_in_small_size {
		overflow-x:hidden;
		overflow-y:auto;
		width: 140px;
		height: 480px;
		margin:0px;
		padding:5px;
		background:#FFF;
		position:fixed;
		top:150px;
		left:100px;
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
		border-radius: 10px;
	}
	
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/* 9gag Button */
.special-btn-wrap {
    height: 50px;
    margin: 10px 0 -5px;
    overflow: hidden;
}
a.special-btn {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 -3px 0 rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 11px 0 14px;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
	width:100px;
}
a.special-btn.red {
    background-color: #E15F4E;
}
a.special-btn.green {
    background-color: #399A35;
}
a.special-btn.facebook {
    background: url("../img/sprite_v13.png") no-repeat scroll -386px -1590px #3B5998;
    padding-left: 30px;
}
a.special-btn:hover {
    background-color: #24BBFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 -3px 0 rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(255, 255, 255, 0.4) inset, 0 2px 4px rgba(0, 0, 0, 0.3);
}
a.special-btn.red:hover {
    background-color: #F96655;
}
a.special-btn.green:hover {
    background-color: #43B93F;
}
a.special-btn.facebook:hover {
    background-color: #2C57A5;
}
a.special-btn:active {
    background-color: #0082BD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(255, 255, 255, 0.2) inset, 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2px;
    padding: 11px 0 12px;
}
a.special-btn.red:active {
    background-color: #C65143;
}
a.special-btn.green:active {
    background-color: #2E7F2B;
}
a.special-btn.facebook:active {
    background-color: #112F61;
    padding-left: 30px;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.tabs {
  position: relative;
  min-height: 300px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 22px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Meme Editor SPAD !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

	.selected{
		background:#FFF;
	}
	#newimg{
		height:100px;
		width:100px;
	}
	#page	{
		margin:0px auto;
		padding:5px;
		width:640px;
		position:relative;
		moz-border-radius: 10px;
		webkit-border-radius: 10px;
		khtml-border-radius: 10px;
		border-radius: 10px;	
	}
	#sp {
	}

	#memetitle{
		position:relative;
		padding:3px;
		background:#FFF;
		moz-border-radius: 10px;
		webkit-border-radius: 10px;
		khtml-border-radius: 10px;
		border-radius: 10px;

	}
	
	#shares {
		position:fixed;
		top:60px;
		left:1040px;
		width:300px;
		text-align:center;
	}
	
	#submitter{
		position:relative;
	}
	
	#watermark{
		position:relative;
	}
	
/** Drawing Tools & Canvas Tools **/
	
	#canvas_tools {
		position:fixed;
		width:20px;
		left:1010px;
		top:100px;
		padding:2px;
		background-color:#Fff;
		moz-border-radius: 10px;
		webkit-border-radius: 10px;
		khtml-border-radius: 10px;
		border-radius: 10px;
		
	}
	
	#vs	{
		position:relative;
		text-align:center;
		margin:3px;
	}

	.smileys_part	{
	position:absolute;
	right:-30px;
	top:40px;
	}
	#main input[type='button'],#main button{
	font-size:9px;
	padding:0px 5px;
	margin:2px auto;
	display:block;
	}
	#main img{
	margin:1px 2px;
	}
	.size, .erase,.color,.undo,.redo, .save, .mirror, .invert{
	border: none;
	}
	.fltlt{
	float:left;
	}
	.fltrht	{
	float:right;
	}
	.clear{
	clear:both;
	}
	.newdd {
	position: absolute;
	padding: 0px;
	margin: 0px;
	border: 1px dotted white;
	}
	.newdd img {
	width: 100%;
	height: 100%;
	}
	.newdd:hover {
	border: 1px solid red;
	}

	#loadimg .idrag{
	position:relative;
	width: 100px;
	height:100px;
	margin-bottom:30px;
	z-index:97;
	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;
	}
	#loadimg .idrag img{
	position:absolute;
	top:2px;
	left:0px;
	margin-bottom:30px
	z-index: 98;
	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;
	}
	#loadimg .idrag img:hover{
	width: 120px;
	height:120px;
	z-index: 100;
	}
	
	/**************************Jagat Css**********************************/

	input[type='button']	{
	min-width:19px;
	}
	#hilight img	{
	padding:2px;
	}
	#hilight img:hover,#hilight img.active	{
	background:#87C8F0;
	}
	#edtr	{
	width:960px;
	position:relative;
	margin-bottom:120px;
	}
	.right_pos_abs	{
	position:fixed;
	top:480px;
	left:85px;
	width:200px;
	}
	
	#main{
	position:fixed;
	top:50px;
	left:350px;
	background:#FAFAFA;
	padding:0px 3px;
	border:1px solid #DCDCDC;
	z-index:100;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	-o-border-radius:12px;

	}
	html > body .toolbar {
	*left:-180px;
	}
	.postop0{
	position:fixed;
	}
	.postop1{
	position:fixed;
	top:10px;
	}
	.memejeTextContainer   {
	position:relative;
	}
	span.icon_div,.memejeTextContainer   {
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	background:#CCC;
	padding:1px;
	position:absolute;
	}
	.memejeTextContainer{
	width:230px;
	top:-11px;
	}
	.memejeTextContainer img{
	position:relative;
	top:3px;
	}
	span.icon_div img{
	width:16px;
	height:16px;
	margin:1px;
	}
	.icon_div  {
	min-width: 180px;
	overflow: visible;
	}
	.smil_tabl_fixed{
	width:400px;
	position:fixed;
	left:10px;
	top:380px;
	height:105px;
	}
	.memeje_button{
	margin : 0px;
	padding : 0px;
	height : 22px;
	width : 50px;
	line-height : 15px;
	}
	.showmodal{
	width:400px;
	height:35px;
	position:fixed;
	left:50%;
	top:50%!important;
	margin:-25px 0px 0px -200px;
	border:1px solid black;
	padding-top:15px;
	font-size:16px;
	color:#FFF;
	background:#111;
	-moz-border-radius : 10px 10px 10px 10px;
	-webkit-border-radius : 10px 10px 10px 10px;
	}
	/**************************Jagat Css**********************************/

