<b>Dear {$sm.first_name},</b><br /><br />
Thank you for making an account for <b>##LBL_SITE_URL##</b>!<br /><br />
<a href="{$sm.activate_link}">Please click here</a> to activate your account. <br /><br />

<i>If the above link does not work, you can copy and paste the link below into your web browser (do not add extra spaces).</i>
<br /><br />
<a href="{$sm.activate_link}">{$sm.activate_link}</a><br /><br />-->
We sincerly hope you have an enjoyable experience here at Memeja. Feel free to look at our live feed of memes, rate/comment on the images you see, increase your rank in the leaderboard, and even create your own meme!

- Memeja Administrators