{literal}
<script type="text/javascript">
	$(document).ready(function(){
		// min chars for username
		var min_chars = 5;
		
		// Result texts
		var characters_error = 'Minimum amount of chars is 5';
	
	
		var validateUsername = $('#validateUsername');
		$('#myusername').keyup(function() {
			var username = $('#myusername').val();
			var username_length = username.length
			
			// No username
			if (!username) {
				validateUsername.html('Please specify a username');
			
			// Less than min char. length
			} else if (username_length < min_chars) {
				validateUsername.html(characters_error);
			} else {
			
				if (this.value != this.lastValue){
					if (this.timer) clearTimeout(this.timer);
					validateUsername.html('Checking availability..').fadeIn("slow");
								
					this.timer = setTimeout(function () {
					//console.log("ajax going to fire");
		
					var url = "/flexycms/modules/additions/user_validate.php";
					$.post(url, { username: username }, function(res) {
						console.log(res);
						if (res == 'continue') {
							validateUsername.html(username + ' is available!');
						} else if (res == 'already_exists') {
							validateUsername.html(username + ' is not available!');
						} else if (res == 'specific_character_error') {
							validateUsername.html("Your username can only contain alphanumerics and dash and underscore (-_)");
						}
					});
				}, 200);
				
				
				this.lastValue = this.value;
			}
			}
		});
	});
</script>
{/literal}
<h2>Almost there! Please create a Username</h2>

<form name="form1" method="post" action="##LBL_SITE_URL##user/create_username">
	<fieldset>
		<legend> Register </legend>
		<div>
			<label for="username">Username, valid: a-z.-_</label>
			<input type="text" name="username" value="" id="myusername" maxlength="17"/>
			<span id="validateUsername"></span>
		</div>

		<label for="toc">
		<input type="checkbox" name="toc" id="toc" value="0" />
		I agree to the Terms and Conditions
		</label>

	</fieldset>
<input type="submit" name="Submit" value="Submit">

</form>


