{literal}
<script type="text/javascript">
	function checkbox_validate() {
		console.log($('#submittext').val());
		if ($('#submittext').val() == 1 && ($("#toc").is(":checked"))  ) {
			$("#submit").attr("disabled", false);
		} else {
			$("#submit").attr("disabled", true);
		}
	}
	$(document).ready(function(){
		// min chars for username
		var min_chars = 5;
		
		// Result texts
		var characters_error = 'Minimum amount of chars is 5';
	
		var validateUsername = $('#validateUsername');
		
		$("#submit").attr("disabled", true);
				
		$('#myusername').keyup(function() {
			var username = $('#myusername').val();
			var username_length = username.length
			
			// No username
			if (!username) {
				$("#submit").attr("disabled", true);
				validateUsername.html('Please specify a username');	
				$('#submittext').val(0);
			
			// Less than min char. length
			} else if (username_length < min_chars) {
				$("#submit").attr("disabled", true);
				validateUsername.html(characters_error);
				$('#submittext').val(0);
					
			} else {
			
				if (this.value != this.lastValue){
					if (this.timer) clearTimeout(this.timer);
					validateUsername.html('Checking availability..').fadeIn("slow");
								
					this.timer = setTimeout(function () {
					//console.log("ajax going to fire");
		
					var url = "/flexycms/modules/additions/user_validate.php";
					$.post(url, { username: username }, function(res) {
						console.log(res);
						if (res == 'continue') {
							validateUsername.html(username + ' is available!');
							$('#submittext').val(1);
							console.log($('#submittext').val());
							
							// Checkbox control passed
							if ( $("#toc").is(":checked")) {
								$("#submit").attr("disabled", false);
								console.log($("#submittext").val());
							} else {
								validateUsername.html('You must agree to the Terms and Conditions');
								checkbox_validate();
							}
							
						} else if (res == 'already_exists') {	
							$("#submit").attr("disabled", true);
							validateUsername.html(username + ' is not available!');
							$('#submittext').val(0);
								
						} else if (res == 'specific_character_error') {
							$("#submit").attr("disabled", true);
							validateUsername.html("Your username can only contain alphanumerics and dash and underscore (-_)");
							$('#submittext').val(0);
							
						}
					});
				}, 200);
				
				
				this.lastValue = this.value;
			}
			}
		});
	});
	
	$('#myform').submit(function(){
    	$('input[type=submit]', this).attr('disabled', 'disabled');
	});
	
	$("#submit").click(function(){
		$("submittext").html("Form submitting.....");
		$("#submit").attr("disabled", true);	
	});
	
	
</script>
{/literal}
<h2>Almost there! Please create a Username</h2>

<form name="form1" method="post" action="##LBL_SITE_URL##user/create_username">
	<fieldset>
		<legend> Register </legend>
		<div>
			<label for="username">Username, valid: a-z.-_</label>
			<input type="text" name="username" value="" id="myusername" maxlength="17"/>
			<span id="validateUsername"></span>
		</div>

		<label for="toc">
		<input type="checkbox" name="toc" id="toc" value="0" onclick="checkbox_validate();"/>
		I agree to the Terms and Conditions
		</label>

	</fieldset>
<input type="submit" id="submit" name="Submit" value="Submit">
<input type="hidden" id="submittext" value="0"/>
</form>


