
{assign var=img_path value=$util->get_values_from_config('IMAGE')}
  </br>
  {if $smarty.session.id_user}
    <a href="javascript:void(0);" onclick="show_memeje_frnds();">Find Friends on Memeja</a><br/>
    <div id="show_profile_info" style="position: absolute; right:-60px; top:110px;background-color:white;border: 1px solid #CAD8F3;"></div>
 {/if}
 </br>
  <legend>My Friends({$sm.count})</legend>
{if $sm.res}
	<div id="result" style="width:210px;overflow: auto; height: 170px;padding: 10px;" >
	{section name=cur loop=$sm.res}
	{assign var=x value=$sm.res[cur]}
	<div class="each_frnd">
		<table border='1' width='60'>
			<tr>
				<td width="30" height="30">
					<div class='pic_container'><img src="##LBL_SITE_URL##{$img_path.avtar_thumb}{if $x.avatar}{$x.avatar}{else}{if $x.gender=='M'}memeje_male.jpg{else}memeje_female.jpg{/if}{/if}" height="50px" width="50px"/></div>	
				</td>
				<tr>
					<td title="{$x.name|capitalize}"><font size='1'>{$x.name|capitalize|truncate:9:"..":true}</font></td>				
				</tr>
			</tr>
		</table>		   
	</div>
	{/section}
	</div><br>
	<a href="##LBL_SITE_URL##user/all_friends/" style="float:left;">View all</a>
 {/if}
{literal}
<style type="text/css">
.each_frnd{
	margin-left:2px;
	margin-right:2px;
	margin-top:2px;
	float:left;
}
.pic_container	{
	position:relative;
	height:60px;
}
.user_name	{
	vertical-align:top;
	text-transform:capitalize;
}

</style>
{/literal}