{*notag*}
{if $smarty.session.id_user}

		<div id= "user_name" class="nohighlight">
			<a href ="/?id={$smarty.session.dupe_username}">{$smarty.session.fname|capitalize}</a>
			<div class="nav_menu" style="top:37px; left:728px;">
				<div class="hover_menu_contents">
					<ul class="nav_menu_list">
						<li>
							<a href="javascript:void(0); onclick="fb_logout();">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{*User Rank + XP*}
			
		<!--<div id="user_ranking_info">
		
		<!-- <div id="total_xp" >{if $smarty.session.exp_point}{$smarty.session.exp_point}{/if}
		 <span style="font-size:8px; position:relative; bottom:5px;">XP</span></div>
		 </div>
		 
		{*Trailing Rank, User, + XP*} 
		<div id="other_user_ranking_info" class="softcorner native num_videos">
		<div id="trailing_user">{if $smarty.session.one_less_user}{$smarty.session.one_less_user}{else}---{/if}</div>
		<span id="trailing_all"> </span>
		 <span id="trailing_ranking_number">{$smarty.session.one_less_rank}</span>
		<!--<div id="trailing_exp" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size:12px; position:relative; bottom:4px; margin-left:12px;">{if $smarty.session.one_less_exp}{$smarty.session.one_less_exp}{else}0{/if}
		 <span style="font-size:8px; position:relative; bottom:3px;">XP</span></div>
		</div>-->
		<!--<a href="javascript:void(0);">Account Setting</a>
		  
			
		<!--    <tr>-->
		<!--{************ Duels commented out-->
		<!--		<td><a href="##LBL_SITE_URL##duels/list_duels" title="See all duels">Challenge Duel</a></td> *********}-->
	
     	<br><br> 
			<!-- send a mail from the "Suggestions" hyperlink 
			<a href="mailto:karanchitnis92@gmail.com?Subject=Memeja%20suggestion">Suggestions</a>
		</br></br>-->
		
		{***** Dueled Meme Commented out
		<a href="##LBL_SITE_URL##meme/dueled_meme">Dueled Meme</a>*}
		
{/if}

