{* notag *}
<div >
    <h2>Profile info of "{$sm.res.0.fname|capitalize:true}"</h2>
</div>
<table  align="center">	    
    <tr>
	<td align="right">Gender:</td>
	<td>{if $sm.res.0.gender==M} Male{else}Femele{/if}</td>
    </tr>
    <tr>
	<td align="right">DOB:</td>
	<td>{$sm.res.0.dob|date_format:"%m-%d-%Y"} </td>
    </tr>
    <tr>
	<td align="right">No of Badges:</td>
	<td>{$sm.res.0.no_badges} </td>
    </tr>
    <tr>
	<td align="right">Achievement Rank:</td>
	<td>{$sm.ach} </td>
    </tr>
    <tr>
	<td align="right">Question of the week won:</td>
	<td>{$sm.res.0.ques_week_won} </td>
    </tr>

<!-- Duels commented out
    <tr>
	<td align="right">Duels won:</td>
	<td>{$sm.res.0.duels_won} </td>
    </tr> -->

    <tr>
	<td align="right">Experience Points:</td>
	<td>{$sm.res.0.exp_point} </td>
    </tr>
</table>
