
<span id="right_pan">


{if $smarty.session.id_user}  <!-- If not logged in, then don't show -->
{*if $smarty.session.fb_login*}
	<!--<div class="fbfrnd">
		<a href="javascript:void(0);" onclick="invitePopup();" class="facebook">Invite Facebook Friends </a>
	</div>-->
{*/if*}
{/if}

{if $smarty.session.id_user}
    <a href="javascript:void(0);" onclick="show_memeje_frnds();">Find friends in Memeja to add</a><br />
    <div id="show_profile_info" style="position: fixed;background-color:white;border: 1px solid #CAD8F3;"></div>
    
    <div>
		<br>
		<a href="##LBL_SITE_URL##manage/suggestion">Suggestions</a>
		</br>
	</div>
	    
	

{/if}
</span>
{literal}
<script type="text/javascript">

// Find friends in Memeja to add
function show_memeje_frnds(){
	var url="##LBL_SITE_URL##index.php";
	$.post(url,{page:"user",choice:"get_memeje_frnds",ce:0},function(res){
		//show_fancybox(res);
		 $.fancybox(res,{
			centerOnScroll:true,
			hideOnOverlayClick:false,
			onCleanup : function (){
				 $("#show_profile_info").html("");
			}
		    });
	})
}

<!--function invitePopup() {-->
<!--	var z;-->
<!--	var url="##LBL_SITE_URL##index.php?page=user&choice=get_sent_users&ce=0";-->
<!--	var httpRequest = new XMLHttpRequest();-->
<!--	httpRequest.open('POST', url, false);-->
<!--	httpRequest.send();-->
<!--	if (httpRequest.status == 200) {-->
<!--		z=httpRequest.responseText;-->
<!--	}-->
<!--	FB.login(function(response) {-->
<!--		if (response.session) {-->
<!--			// user successfully logged in-->
<!--			FB.ui({-->
<!--				method:'fbml.dialog',-->
<!--				fbml: (-->
<!--				'<fb:request-form method="post" action="##LBL_SITE_URL##user/invited/p/{/literal}{$smarty.request.page}/c/{$smarty.request.choice}{if $smarty.request.cat}/cat/{$smarty.request.cat}{/if}{literal}/*" type="Memeje"' +-->
<!--				'content="Share your thoughts through memes <fb:req-choice url=\'##LBL_SITE_URL##\' label=\'Accept\' />" >' +-->
<!--				'<fb:multi-friend-selector bypass="cancel" showborder="false" actiontext="Invite your friends to this network." exclude_ids="'+z+'"  max="20" rows="2" cols="3" email_invite="false" import_external_friends="false" condensed="false" uid=""/> '+-->
<!--				'</fb:request-form>'-->
<!--				),-->
<!--				size: { 'width':'485', height:480}, 'width':'485', height:480-->
<!--			});-->

<!--			$(".FB_UI_Dialog").css('width', '485px'); // 80% of window width  $(window).width()*0.65-->
<!--		} else {-->
<!--			// user cancelled login-->
<!--		}-->
<!--	});-->

<!--}-->

</script>
{/literal}
