<head> 
<title>Memeja Terms and Conditions</title>

<style type="text/css"> 

p.header
{
	margin-left: 10px;
	font-size: 36px;
	font-weight: bolder;
}
p.intro 
{ 
	margin-left: 10px;
	margin-right: 40px;
}
p.title 
{ 
	font-size: 18px;
	margin-left: 20px;
	margin-right: 40px;
	font-weight: bolder;
} 
p.content 
{ 
	margin-left: 40px;
	margin-right: 40px;
} 
ul
{
	margin-left: 40px;
}


</style> 
</head> 
<body>

<p class="header">
Memeja Terms and Conditions
</p>
<p class="intro"> 
Revised: 3/25/12
</p>
<p class="intro"> 
Welcome to Memeja! The following Terms and Conditions page applies to all aspects of www.memeja.com.
</p>
<p class="intro">

Please read all conditions carefully. 
Reading the terms posits that you agree and comply with these rules. If you do not agree with them, please refrain from creating an account on this website.
Failure to comply with the terms listed may result in suspension of your account and fraudulent behavior, such as hacking or stealing property, will have more serious ramifications. 
</p>
<p class="title"> 
	Overview
</p> 
<p class="content"> 
Our objective is for the online community to have a positive experience with Memeja. 
This requires us to carefully oversee all events (replies/comments and posts on the live feed) including hacking, stealing property from any part of the site, spamming, posting inappropriate content, plagiarism, etc. 
Agreeing to this allows us to take action if any of the aforementioned scenarios occurs.
We would like to be clear that the content on this site is for entertainment purposes only. We are not responsible for resolving any:
</p>
<p class="list"> 
<ul>
	<li>Verbal conflicts</li>
	<li>Inaccurate posts</li>
	<li>Arguments between users</li>
	<li>Stolen content</li>
</ul>
</p> 
<p class="title"> 
	Account Information
</p> 
<p class="content"> 
You are solely responsible for keeping and protecting your own username and password.
Please keep your all personal information secure and private.
If account information has been passed on to a third party, we are not liable for any stolen identity.
If other problems exist with your account, please contact us. 
</p>
<p class="title">
Content
</p> 
<p class="content"> 
Controversial issues may be addressed as long as it is not intolerant of sex, beliefs, race, or religion.
Personal attacks on another individual can also result in the removal of your comment, meme creation, and/or account.
Posted content cannot infringe on another's privacy. A serious enough violation can result in criminal charges.
All content posted on Memeja becomes property of Memeja and can be used, redistributed, or sold any way Memeja sees fit.
</p>
<p class="title"> 
Inappropriate Material
</p> 
<p class="content"> 
No pornographic or inappropriate material is permitted in any of the memes on the live feed. 
</p>
<p class="title"> 
Hacking
</p> 
<p class="content"> 
Stealing company property such as code, idea, logo, reverse engineering the website or its software, attacking the servers, etc is strictly prohibited and can result in criminal liability.
You may not pose to be somebody else when using this website.
You may not login as another user unless explicit consent has been given.
</p>
<p class="title"> 
Spamming
</p> 
<p class="content"> 
Posting substanceless memes or replies/comments on the live feed is frowned upon and will result in deleted posts. 
You also agree to not spam, advertise, or post any images or text that have no relevance.
Continuous spamming  will result in suspended accounts.
</p>
<p class="title">
Plagiarism 
</p> 
<p class="content"> 
You cannot copy, post or redistribute content that has a copyright, patent, trademark, trade secret, license, or is intellectual property without consent from the original owner.
</p>
<p class="intro"> 
If you do not agree to any of the terms layed out, please refrain from creating an account. If you do agree, then we hope you have a meaningful and enjoyable experience with this site. Thank you!
</p>

</body> 
</html>