{*notag*}
<script type="text/javascript" src="##LBL_SITE_URL##templates/flexyjs/js/jquery.multiautocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="##LBL_SITE_URL##templates/css_theme/multiautocomplete.css"/>
{if $sm.duel_flag || !$smarty.session.friends}
    <div align="center" style="font-size: 16px;color:red;">
	No more users for duel.
    </div>
{else}
    <div align="center">
	    <label style="font-size: 16px;">Invite users to duel.</label>
    </div>
{/if}
	<div style="width: 310px;height:310px;">
	    <select multiple="multiple" style="display: none;" id="get_friends" name="select2[]"></select>
	</div>
	<div align="center">
	    <input type="button" value="Invite" onclick="send_duelinvitation_to();"/>
	</div>
{literal}
<script type="text/javascript">
var flg="{/literal}{$smarty.session.flg_duel}{literal}";
    function send_duelinvitation_to(){
	var ids = $("#get_friends").val();
	if(!ids){
	    alert("Select atleast one user to send invitation.");
	    return false;
	}
	var url = "##LBL_SITE_URL##index.php/duels/send_duelinvitation_to";
	$.post(url,{ids:ids,ce:0},function(data){
	    $.fancybox.close();
	    //alert("Your duel invitation sent to these users.");
	    window.location.reload();
	});
    }
</script>
{/literal}
