{*notag*}
{literal}
<link rel="stylesheet" type="text/css" href="##LBL_SITE_URL##templates/css_theme/mainpg.css"/>

<script type="text/javascript">
    function show_details(id_meme){
	//$.fancybox.showActivity();
	$.ajax({
		url: "##LBL_SITE_URL##meme/meme_details",
		type:"POST",
		data: "ce=0&id="+id_meme
<!--		success: function(res){-->
<!--		    $.fancybox(res,{-->
<!--			centerOnScroll:true,-->
<!--			onComplete : function (){-->
<!--			    $.fancybox.resize();-->
<!--			}-->
<!--		    });-->
<!--		}-->
	});
    }
</script>

{/literal}
<div id ="user_memes" >
{assign var=img_path value=$util->get_values_from_config('IMAGE')}
<div id = "liked_memes">
		<!-- width of meme in CSS -->
		
		{if $sm.res}
			{section name=cur loop=$sm.res}
			{assign var=x value=$sm.res[cur]}
		
			{if $sm.flg == 1}
				<a class="meme_gallery" data-fancybox-group="fav_meme" id="meme_fav_image{$x.id_meme}" onclick="show_details('{$x.id_meme}');" href="##LBL_SITE_URL##image/orig/meme/{$x.image}" title="{$x.title|capitalize}">
			
				<img src="##LBL_SITE_URL##image/thumb/meme/{$x.image}" style="width: 60px;height: 60px;cursor: pointer;"/></a>
		
			{elseif $sm.flg == 2}
				<a class="meme_gallery" data-fancybox-group="fav_meme" id="meme_tagged{$x.id_meme}" onclick="show_details('{$x.id_meme}');" href="##LBL_SITE_URL##image/orig/meme/{$x.image}" title="{$x.title|capitalize}">
			
				<img src="##LBL_SITE_URL##image/thumb/meme/{$x.image}" style="width: 60px;height: 60px;cursor: pointer;"/></a>
			{else}
				<a class="meme_gallery" data-fancybox-group="my_meme" id="my_meme_image{$x.id_meme}" onclick="show_details('{$x.id_meme}');" href="##LBL_SITE_URL##image/orig/meme/{$x.image}" title="{$x.title|capitalize}">
			
				<img src="##LBL_SITE_URL##image/thumb/meme/{$x.image}" style="width: 60px;height: 60px;cursor: pointer;"/></a>
				
				<div id="description" style="display: none;">		
					<div>				
						<div class="fb-comments" id="inner" data-href='http://memeja.com/?id={$sm.uinfo[$x.id_user].dupe_username}&meme={$x.id_meme}' data-num-posts="10" data-width="400"></div>
					</div>
				</div>
			{/if}
			{/section}
				{if $smarty.session.profile}
					<a id="create_meme" href="##LBL_SITE_URL##meme/addMeme" title="Create-A-Meme!"><img src="##LBL_SITE_URL##templates/images/tag.png" id="tagg"/></a>
				{else}
					<a id="create_meme" href="##LBL_SITE_URL##meme/addMeme" title="Create-A-Meme!"><img src="##LBL_SITE_URL##templates/images/add.png" id="add"/></a>
				{/if}
		{else}
			{if $sm.flg == 1}
				<b>No liked memes. Memeja still loves you though</b>
				{if $smarty.session.profile}
					<a id="create_meme" href="##LBL_SITE_URL##meme/addMeme" title="Create-A-Meme!"><img src="##LBL_SITE_URL##templates/images/tag.png" id="tagg"/></a>
				{else}
					<a id="create_meme" href="##LBL_SITE_URL##meme/addMeme" title="Create-A-Meme!"><img src="##LBL_SITE_URL##templates/images/add.png" id="add"/></a>
				{/if}
			{elseif $sm.flg == 2}
				<b>No tags. Lonely Memeja is lonely </b>
				{if $smarty.session.profile}
					<a id="create_meme" href="##LBL_SITE_URL##meme/addMeme" title="Create-A-Meme!"><img src="##LBL_SITE_URL##templates/images/tag.png" id="tagg"/></a>
				{else}
					<a id="create_meme" href="##LBL_SITE_URL##meme/addMeme" title="Create-A-Meme!"><img src="##LBL_SITE_URL##templates/images/add.png" id="add"/></a>
				{/if}
			{else}
				<b>
					No memes created. 
				</b>
				{if $smarty.session.profile}
					<a id="create_meme" href="##LBL_SITE_URL##meme/addMeme" title="Create-A-Meme!"><img src="##LBL_SITE_URL##templates/images/tag.png" id="tagg"/></a>
				{else}
					<a id="create_meme" href="##LBL_SITE_URL##meme/addMeme" title="Create-A-Meme!"><img src="##LBL_SITE_URL##templates/images/add.png" id="add"/></a>
				{/if}
			{/if}
		{/if}

		{if $sm.res}
		    {if $sm.flg==1}
				<a href="##LBL_SITE_URL##manage/my_favorites/"></a>
		    {elseif $sm.flg==2}
				<a href="##LBL_SITE_URL##manage/tagged_meme/"></a>
		    {elseif $sm.flg==3}
				<a href="##LBL_SITE_URL##manage/dueled_meme/">View all</a>
		    {else}
				<a href="##LBL_SITE_URL##manage/my_meme_list/"></a>
		    {/if}
		{/if}
</div>
</div>

