{*notag*}
{literal}
<link rel="stylesheet" type="text/css" href="##LBL_SITE_URL##templates/css_theme/mainpg.css"/>

<script type="text/javascript">
    function show_details(id_meme){
		//$.fancybox.showActivity();
		$.ajax({
			url: "##LBL_SITE_URL##meme/meme_details",
			type:"POST",
			data: "ce=0&id="+id_meme
	<!--		success: function(res){-->
	<!--		    $.fancybox(res,{-->
	<!--			centerOnScroll:true,-->
	<!--			onComplete : function (){-->
	<!--			    $.fancybox.resize();-->
	<!--			}-->
	<!--		    });-->
	<!--		}-->
		});
    }
	
	function remove_tag(id_meme, facebook_id, type){
		var url = "##LBL_SITE_URL##user/remove_tag";
		
		console.log(id_meme);
		console.log(facebook_id);
		console.log(type);
		$.post(url, {ce:0, id:id_meme, facebook_id:facebook_id}, function(res){
			console.log('response');
			if (type == 'profile'){
				$('#meme_tagged'+id_meme).html('');
				$('#meme_tagged'+id_meme+'x').hide();
			} else if (type == 'fancybox'){
				$('#meme_tagged'+id_meme).html('');
				$('#meme_tagged'+id_meme+'x').hide();
				//$('#meme_tagged'+id_meme+'fancybox').live("remove icons", function(){
				//	$(this).html('');
				//});
				//$('#meme_tagged'+id_meme+'xfancybox').hide();
			}
		});
	}
</script>

{/literal}
<div id ="user_memes" >
{assign var=img_path value=$util->get_values_from_config('IMAGE')}
<div id = "liked_memes">
		<!-- width of meme in CSS -->
		
		{if $sm.res}
			{section name=cur loop=$sm.res}
			{assign var=x value=$sm.res[cur]}
			{literal}
		 	<style type="text/css">
		 		#meme_expanded{/literal}{$x.id_meme}{literal} {
		 			display:none;
		 		}
				#meme_fav_image{/literal}{$x.id_meme}{literal}:hover #meme_expanded{/literal}{$x.id_meme}{literal} {
					display:inline;
				}

				#meme_tagged{/literal}{$x.id_meme}{literal}:hover #meme_expanded{/literal}{$x.id_meme}{literal} {
					display:inline;
				}

				#my_meme_image{/literal}{$x.id_meme}{literal}:hover #meme_expanded{/literal}{$x.id_meme}{literal} {
					display:inline;
				}

			</style>
			{/literal}
		
			{if $sm.flg == 1}
				<a class="meme_gallery" data-fancybox-group="fav_meme" id="meme_fav_image{$x.id_meme}" onclick="show_details('{$x.id_meme}');" href="##LBL_SITE_URL##image/orig/meme/{$x.image}" title="{$x.title|capitalize}">
			
				<img src="##LBL_SITE_URL##image/thumb/meme/{$x.image}" class="profile_gallery_meme"/>	
					<div id="profile_meme_expanded">
						<div id="meme_expanded{$x.id_meme}">
							<img src="##LBL_SITE_URL##image/orig/meme/{$x.image}"class="meme_expanded"/>
						</div>
					</div> 
				</a>
		
			{elseif $sm.flg == 2}
				<a class="meme_gallery" data-fancybox-group="my_meme" id="meme_tagged{$x.id_meme}" onclick="show_details('{$x.id_meme}');" href="##LBL_SITE_URL##image/orig/meme/{$x.image}" title="{$x.title|capitalize}">
			
				<img src="##LBL_SITE_URL##image/thumb/meme/{$x.image}" class="profile_gallery_meme"/>
					<div id="profile_meme_expanded">
						<div id="meme_expanded{$x.id_meme}">
							<img src="##LBL_SITE_URL##image/orig/meme/{$x.image}" class="meme_expanded"/>
						</div>
					</div>
				</a>
				
				{if $smarty.session.profile_id == $smarty.session.id_user}
					<span><a href="javascript:void(0);" id="meme_tagged{$x.id_meme}x" onclick="remove_tag('{$x.id_meme}', '{$smarty.session.uid}', 'profile');">X</a></span>
				{/if}
				
				<div id="description" style="display: none;">		
					<div>
						Created by <a href="/?id={$sm.uinfo[$x.id_user].dupe_username}">{$sm.uinfo[$x.id_user].username}</a>
						
						{if $x.who_was_tagged}
						<div>Tagged: 
								{foreach name=cur_meme item=q key=k from=$x.who_was_tagged}
									<span {if $q.tagged == $smarty.session.uid}id="meme_tagged{$x.id_meme}fancybox"{/if}>
										<img src="https://graph.facebook.com/{$q.tagged}/picture"/>
										{$q.tag_name}
									</span>
									{if $q.tagged == $smarty.session.uid}
										<span>
											<a href="javascript:void(0);" id="meme_tagged{$x.id_meme}xfancybox" onclick="remove_tag('{$x.id_meme}', '{$smarty.session.uid}', 'fancybox');">X</a>
										</span>
									{/if}
								{/foreach}</div>
						{/if}
						
						<div class="fb-comments" id="inner" data-href='http://memeja.com/?id={$sm.uinfo[$x.id_user].dupe_username}&meme={$x.id_meme}' data-num-posts="10" data-width="400"></div>
					</div>
				</div>
			{else}
				<a class="meme_gallery" data-fancybox-group="my_meme" id="my_meme_image{$x.id_meme}" onclick="show_details('{$x.id_meme}');" href="##LBL_SITE_URL##image/orig/meme/{$x.image}" title="{$x.title|capitalize}">
			
				<img src="##LBL_SITE_URL##image/thumb/meme/{$x.image}" class="profile_gallery_meme"/>
					<div id="profile_meme_expanded">
						<div id="meme_expanded{$x.id_meme}">
							<img src="##LBL_SITE_URL##image/orig/meme/{$x.image}"class="meme_expanded"/>
						</div>
					</div>
				</a>
				
				<div id="description" style="display: none;">		
					<div>
						Created by <a href="/?id={$sm.uinfo[$x.id_user].dupe_username}">{$sm.uinfo[$x.id_user].username}</a>
						{if $x.who_was_tagged}
						<div>Tagged: 
								{foreach name=cur_meme item=x key=k from=$x.who_was_tagged}
									<span>
										<img src="https://graph.facebook.com/{$x.tagged}/picture"/>
										{$x.tag_name}
									</span>
								{/foreach}</div>
						{/if}
						
						<div class="fb-comments" id="inner" data-href='http://memeja.com/?id={$sm.uinfo[$x.id_user].dupe_username}&meme={$x.id_meme}' data-num-posts="10" data-width="400"></div>
					</div>
				</div>
			{/if}
			{/section}
		{else}
			{if $sm.flg == 1}
				<b>No liked memes. Memeja still loves you though</b>
			{elseif $sm.flg == 2}
				<b>No tags. Lonely Memeja is lonely </b>
			{else}
				<b>
					No memes created. 
				</b>
			{/if}
		{/if}
		{if $sm.res}
		    {if $sm.flg==1}
				<a href="##LBL_SITE_URL##manage/my_favorites/"></a>
		    {elseif $sm.flg==2}
				<a href="##LBL_SITE_URL##manage/tagged_meme/"></a>
		    {elseif $sm.flg==3}
				<a href="##LBL_SITE_URL##manage/dueled_meme/">View all</a>
		    {else}
				<a href="##LBL_SITE_URL##manage/my_meme_list/"></a>
		    {/if}
		{/if}
</div>
</div>
