{*notag*}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Memeja, Social Networking with Memes</title>
<meta name="description" content="Memeja helps you share experiences through memes. Connect with the lives of everyone you care about as you share those memorable moments that create a lasting impression."
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="##LBL_SITE_URL##templates/css_theme/mainpg.css"/>
<link rel="shortcut icon" href="##LBL_SITE_URL##templates/images/memeja_icon.ico" >
{assign var=appid value=$util->get_values_from_config('FACEBOOK')}
{assign var=chc value=$smarty.request.choice}
<script type="text/javascript" src="##JS_PATH##libsext/jquery/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
{literal}
<script type="text/javascript">
var chc = "{/literal}{$chc}{literal}";
	var idu = "{/literal}{$smarty.session.id_user}{literal}";
	
	var follow_count = parseInt({/literal}{$smarty.session.profile_follower_count}{literal});	
	// Variables for XP updating
	var curr_xp = {/literal}{if $smarty.session.exp_point}{$smarty.session.exp_point}{else}0{/if}{literal},
		xp_to_level = {/literal}{if $smarty.session.xp_to_level}{$smarty.session.xp_to_level}{else}0{/if}{literal},
		previous_xp_to_level = {/literal}{if $smarty.session.previous_xp_to_level}{$smarty.session.previous_xp_to_level}{else}0{/if}{literal},
		user_level = {/literal}{if $smarty.session.level}{$smarty.session.level}{else}0{/if}{literal};

	if (user_level == 1) {
		var xp_percent = (curr_xp / xp_to_level) * 100;
	} else {
		{/literal}{if $smarty.session.exp_point}
			xp_percent = (curr_xp - previous_xp_to_level) / (xp_to_level - previous_xp_to_level) * 100;
		{else}xp_percent = 0{/if}{literal}
	}
	
	var rank_wait = 40000;
	var xp_wait = 8000;
	
	$(document).ready(function(){
		$('.meme_gallery').fancybox({
				padding: 0,
				
				fitToView: false,
				
				prevEffect : 'fade',
				nextEffect : 'none',

				closeBtn  : false,
				arrows    : true,
				nextClick : true,
				
				keys: {
					next: [13, 32, 34, 39], // enter, space, page down, down arrow
					prev: [8, 33, 37], // backspace, page up, up arrow
					close: [27] // escape key
				},
				
				helpers : { 
					thumbs : {
						width  : 50,
						height : 50
					},
					overlay : {
						opacity : 0.82
					}
				},
				afterShow : function (){
					/*
					console.log(this.element.dataset);
					var meme_type = $().attr('data-fancybox-group');
					if (meme_type){
						console.log(meme_type);
					}*/
					
					var description = "<div class='links'>"+$("#description > div").eq(this.index).html()+"</div>"
					console.log(description);
					$('#fancybox-overlay').html(description);
				}
			});
	
		var selected_meme = '{/literal}{$smarty.session.profile_meme_image}{literal}';
		if (selected_meme){
			$("#selected_image").fancybox({
				// update comment box feature for direct loading 
				padding: 0, 
				fitToView: false,
				afterShow : function (){
					var description = "<div class='links'>"+$("#current_description > div").html()+"</div>"
					
					console.log(description);
					
					$('#fancybox-overlay').html(description);
				}
			}).trigger('click');
		}
		if (idu) {
			// User XP initial display
			$("#xpbar").progressbar({
				value: xp_percent
			});
			$("#user_level").html('L'+user_level);
			$("#xpbar_status").html(xp_percent.toFixed(2) +'%');
			
			// Mouseover shows XP and %
			$("#xpbar, #xpbar_status").hoverIntent({
				interval: 200,
				timeout:1000
			});
			
			$("#xpbar, #xpbar_status, #user_level").hoverIntent(function(){
				$("#xpbar_status").delay(200).show();
			}, function() {
				$("#xpbar_status").delay(1000).fadeOut();
			});
			
			$("#user_menu").hoverIntent(function(){
				$(".nav_menu").slideDown('medium');
			}, function() {
				$(".nav_menu").slideUp('medium');
			});
		}

		var scrn_height = window.screen.availHeight;
            $("#mid_cont").height(scrn_height/2 + scrn_height/9);

	    if(idu!="" && chc!='addMeme'){
			//setInterval("getall_notification()",7000); for notifications
			
	    /* For popup bar */
			//setTimeout("popup_expbar()", 7000); 	
			//setTimeout("live_ranking()", 20000);
	    }	    
	});
</script>
{/literal}
</head>
<body>
<div id="fb-root"></div>
      {literal}
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '219049284838691',
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
          });
          
          FB.Event.subscribe('auth.login', function (response) {
          	window.location = "##LBL_SITE_URL##user/facebook_info";
			console.log('facebook auth.login fire');
    	  });
        };
        
        
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document))
      </script>
{/literal}
{strip}
<!-- The Header and Logo shown at all times -->
	{include file="user/left_pan"}

{if !$smarty.session.id_user}
	<!-- NLU looks @ home page -->
	
	
	{if !$smarty.session.profile}
	<img src="##LBL_SITE_URL##templates/images/background.gif" style="position:absolute;top:0;left:0;width:100%;height:100%;"/>
	<!--<span style="background: url(##LBL_SITE_URL##templates/images/background.gif) no-repeat center center fixed;display:block;"></span>-->
	<div id="fadeback"></div>	
		<div id="nlu_container">
				<div id="nlu_feed">
					<center>
					<div id="intro_logo">
						<a href="##LBL_SITE_URL##" title="Memeja!"><img src="##LBL_SITE_URL##templates/images/intro_logo.gif"style="width:228px;height:70px;"/></a>
					</div>
					</center>					
					<div id="front_message">
						{include file =$content}
						{if !$smarty.request.page}{include file="meme/home"}{/if}
					</div>
				</div>
		</div>			
		
	{elseif $smarty.session.profile == 'invalid'}
		<div id="top_header" class="nohighlight">
				<div id= "logoc" class="nohighlight">
					<a href="##LBL_SITE_URL##"><img src="##LBL_SITE_URL##templates/images/memeja_logo.gif" id="logo" style="width:130px;"></a>
				</div>
		</div>
		<div id="nlu_contained">
			<div id="profile_page">		
				<div id="profile_name"><center>Flerp? We couldn't find this user!</center></div>
			</div>		
			<div id="live_feed" class="nohighlight">
				<div id="feed_cont">
					{include file="meme/home"}
				</div>
			</div>
			<div id="login_top">
				<div class="fb-login-button" size="large" scope="
			email,
			publish_stream
			,user_education_history
			{*,user_birthday*}	{* Uncomment to enable *}
			">
		Connect with Facebook
				</div>
			</div>
			</div>
		</div>	
	{else}
		<div id="top_header" class="nohighlight">
				<div id= "logoc" class="nohighlight">
					<a href="##LBL_SITE_URL##"><img src="##LBL_SITE_URL##templates/images/memeja_logo.gif" id="logo" style="width:130px;"></a>
				</div>
		</div>
			
		<div id="nlu_contained">	
			<div id="profile_page">	
				<div id="profile_pic">
					{if $smarty.session.profile_picture}
						<img src="{$smarty.session.profile_picture}"class="profile_pic"/>
					{else}
						<img src="##LBL_SITE_URL##image/thumb/avatar/{if $smarty.session.gender=='M'}memeja_male.png{else}memeja_female.png{/if}"class="profile_pic"/>
					{/if}
				</div>
				<div id="user_info">
					<div id="profile_name"><a href="/?id={$smarty.session.profile_dupe_username}">{$smarty.session.profile|capitalize}</a></div>
					<div id="follower_count">{if !$smarty.session.profile_follower_count == '0'}{$smarty.session.profile_follower_count}{else}0{/if} followers</div>
				</div>
				<div id="view_meme">
					{if $smarty.session.profile_meme_image}
						<!--<div id="profile_meme">
							{$smarty.session.profile_meme_title}
						</div>-->
						<div id="profile_meme_image">
							<img src="##LBL_SITE_URL##image/orig/meme/{$smarty.session.profile_meme_image}" title="{$smarty.session.profile_meme_title}" />
						</div>
						{if $smarty.session.profile_meme_tagged}
							<div id="profile_tagged">
								Tagged: 
								{foreach name=cur_meme item=x key=k from=$smarty.session.profile_meme_tagged}
									<span>
										<img src="https://graph.facebook.com/{$x.id}/picture"/>
										{$x.name}
									</span>
								{/foreach}
							</div>
						{/if}
					{/if}
				</div>
				<div id="my_pics">
					<div class="tabs">
					   <div class="tab">
						   <input type="radio" id="tab-1" name="tab-group-1" checked>
						   <label for="tab-1">{$smarty.session.profile|capitalize}'s Memes</label>
						   <div class="content">
								<div id="my_meme_list">
									{get_mod mod=manage mgr=manage choice=my_meme_list gmod=1}
								</div>
						   </div>
					   </div>
					   <div class="tab">
						   <input type="radio" id="tab-2" name="tab-group-1">
						   <label for="tab-2">Tagged Memes</label>
						   <div class="content">
								<div id="my_tagged">
									{get_mod mod=manage mgr=manage choice=tagged_memes gmod=1}
								</div>
						   </div>
					   </div>
					</div>
				</div>
			</div>
			
			<div id="live_feed" class="nohighlight">
				<div id="feed_cont">
					{include file="meme/home"}
				</div>
			</div>
			
			<div id="login_top">
				<div class="fb-login-button" size="large" scope="
			email,
			publish_stream
			,user_education_history
			{*,user_birthday*}	{* Uncomment to enable *}
			">
		Connect with Facebook
				</div>
			</div>
		</div>
	{/if}
{else}
	<div id="top_header" class="nohighlight">
		<div id="header_cont">
			<div id="user_menu">
				<div id="user_pic" class="nohighlight">
				<a href="/?id={$smarty.session.dupe_username}">
					{if $smarty.session.fb_pic_normal}
						<img src="{$smarty.session.fb_pic_normal}" style="width:25px;height:25px">
					{else}
						<img src="##LBL_SITE_URL##image/thumb/avatar/{if $smarty.session.avatar}{$smarty.session.avatar}{else}{if $smarty.session.gender=='M'}memeja_male.png{else}memeja_female.png{/if}{/if}" style="width:25px;height:25px"/>
					{/if}
				</a>
				<div id="ranking_number">{if $smarty.session.exp_rank}<a href="/?id={$smarty.session.dupe_username}">{$smarty.session.exp_rank}</a>{else}N/A{/if}</div>
				</div>
				<div id = "user_name" class="nohighlight">
					<a href ="/?id={$smarty.session.dupe_username}">{$smarty.session.fname|capitalize}</a>
				</div>
				<div class="nav_menu" id="hover_menu">
					<div class="hover_menu_contents">
						<ul class="nav_menu_list">
							<!--
							<li>
								<a href="/?id={$smarty.session.dupe_username}">My Profile</a>
							</li>
							-->
							<li>
								<a href="javascript:void(0);" onclick="javascript:toggleDiv('content1','icon1');">Feedback?</a>
								<div id="content1" class="item" style="display:none">
									<form action="send-contact-message.php" method="post">
										<p>
											<input type="hidden" name="name" id="name" size="25" value="{$smarty.session.username}">
										</p>
										<p>
											Comments:<br>
											<textarea name="message" rows="5" cols="25"></textarea>
										</p>
										<p>
											<button type="submit">Submit</button>
										</p>
									</form>
								</div>
							</li>
							<li>
								<a href="javascript:void(0);" onclick="fb_logout();">Logout</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="triangle_down"></div>
			</div>			
			
		{if $smarty.session.one_less_user}
			
			<div id="trailing_user_pic" class="nohighlight">
				<span id="trailing_user_profile_pic"><a href="/?id={$smarty.session.one_less_dupe_username}">
					{if $smarty.session.one_less_pic}
						<img src="{$smarty.session.one_less_pic}" style="width:25px;height:25px">
					{else}
						<img src="##LBL_SITE_URL##image/thumb/avatar/{if $smarty.session.one_less_avatar}{$smarty.session.one_less_avatar}{else}{if $smarty.session.one_less_gender=='M'}memeja_male.png{else}memeja_female.png{/if}{/if}" style="width:25px;height:25px"/>
					{/if}</a>
				</span>
				<div id="trailing_ranking_number">{if $smarty.session.one_less_rank}<a href="/?id={$smarty.session.one_less_dupe_username}">{$smarty.session.one_less_rank}</a>{else}N/A{/if}
				</div>
			</div>	
		{/if}
			<div id="header_nav">
				<table><tr>
				<td><div id="home_link" class="header_nav"><a href="/">Home</a></div></td>
				<td><div id="random_meme" class="header_nav">
						<a href="javascript:void(0);" onclick="get_random_meme();">Random</a>
				</div></td>
				</tr></table>
			</div>
			<div id= "logoc" class="nohighlight">
				<a href="##LBL_SITE_URL##"><img src="##LBL_SITE_URL##templates/images/memeja_logo.gif" id="logo" style="width:130px;"></a>
			</div>
			
			{if $smarty.request.choice !='addMeme'}

				<div id="xpbar_info" class="nohighlight">
					<div id="xpbar"></div>	
					<div id="user_level"></div>
					<div id="xpbar_status"></div>
				</div>
			{/if}
		</div>
	</div>
	{if $smarty.request.choice !='addMeme'}	
		<div id="contained">
			{if !$smarty.session.profile}
				<!-- view home page -->
				
				<div id="live_feed" class="nohighlight">
					<div id="feed_cont">
						{include file="meme/home"}
					</div>
				</div>
				
			{elseif $smarty.session.profile == 'invalid'}
				<div id="profile_page">
					<div id="profile_name"><center>Flerp? We couldn't find this user!</center></div>
				</div>
			{else} 
				<div id="profile_page">	
					<div id="profile_pic">
						{if $smarty.session.profile_picture}
							<img src="{$smarty.session.profile_picture}"class="profile_pic"/>
						{else}
							<img src="##LBL_SITE_URL##image/thumb/avatar/{if $smarty.session.avatar}{$smarty.session.avatar}{else}{if $smarty.session.gender=='M'}memeja_male.png{else}memeja_female.png{/if}{/if}"class="profile_pic"/>
						{/if}
					</div>
				<div id="user_info">
					<div id="profile_name"><a href="/?id={$smarty.session.profile_dupe_username}">{$smarty.session.profile|capitalize}</a></div>
					<div id="follower_count">{if !$smarty.session.profile_follower_count == '0'}{$smarty.session.profile_follower_count}{else}0{/if} followers</div>
					{if $smarty.session.following == 'y'}
						<span id="follow_me"><a href="javascript:void(0);" id="follow_btn" onclick="follow_user('unfollow');">Unfollow</a></span>
					{elseif $smarty.session.following == 'n'}
						<span id="follow_me"><a href="javascript:void(0);" id="follow_btn" onclick="follow_user('follow');">follow</a></span>
					{/if}
				</div>	
				<div id="view_meme">
					{if $smarty.session.profile_meme_image}
							<div id="profile_meme">
								{$smarty.session.profile_meme_title}
							</div>
							<div id="profile_meme_image">
								<a class="meme_gallery" data-fancybox-group="my_meme" id="selected_image" href="##LBL_SITE_URL##image/orig/meme/{$smarty.session.profile_meme_image}" title="{$smarty.session.profile_meme_title}">
								<img src="##LBL_SITE_URL##image/orig/meme/{$smarty.session.profile_meme_image}" style="display:none;"/></a>
							</div>
							<div id="current_description" style="display: none;">
								<div>
									{if $smarty.session.profile_meme_tagged}
										<span class="fancybox_tagged">
											Tagged: 
											{foreach name=cur_meme item=x key=k from=$smarty.session.profile_meme_tagged}
												<span>
													<img src="https://graph.facebook.com/{$x.id}/picture"/>
													{$x.name}
												</span>
											{/foreach}
										</span>
									{/if}
									
								
									<div class="fb-comments" id="inner" data-href='http://memeja.com/?id={$smarty.session.profile_dupe_username}&meme={$smarty.session.profile_meme_id}' data-num-posts="10" data-width="400"></div>
								</div>
							</div>
							
								{if $smarty.session.profile_meme_tagged}
									<span id="profile_tagged">
										Tagged: 
										{foreach name=cur_meme item=x key=k from=$smarty.session.profile_meme_tagged}
											<span>
												<img src="https://graph.facebook.com/{$x.id}/picture"/>
												{$x.name}
											</span>
										{/foreach}
									</span>
								{/if}
						{/if}
					</div>
					<div id="my_pics">
						<div class="tabs">
						   <div class="tab">
							   <input type="radio" id="tab-1" name="tab-group-1" checked>
							   <label for="tab-1">{$smarty.session.profile|capitalize}'s Memes</label>
							   <div class="content">
									<div id="my_meme_list">
										{get_mod mod=manage mgr=manage choice=my_meme_list gmod=1}
									</div>
							   </div>
						   </div>
						   <div class="tab">
							   <input type="radio" id="tab-2" name="tab-group-1">
							   <label for="tab-2">Tagged Memes</label>
							   <div class="content">
									<div id="my_tagged">
										{get_mod mod=manage mgr=manage choice=tagged_memes gmod=1}
									</div>
							   </div>
						   </div>
						</div>
					</div>
				
				</div>
			{/if}
		</div>

	{else}
		<div id="editorcontent" class="nohighlight">
			{include file=$content}
			{if !$smarty.session.id_user && !$smarty.request.page}{include file="meme/home"}{/if} 
		</div>		
	{/if}
{/if}
{/strip}
</body>

{literal}

<script type="text/javascript" src="##JS_PATH##libsext/fancybox/jquery.fancybox.pack.js?v=2.0.5"></script>
<script type="text/javascript" src="##JS_PATH##libsext/fancybox/jquery.fancybox-thumbs.js?v=2.0.5"></script>
<script type="text/javascript" src="##JS_PATH##libsext/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/js/ajaxfileupload.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/hotkeys/jquery.hotkeys.js"></script>

<script type="text/javascript" src="##LBL_SITE_URL##libsext/hoverintent/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/xpbar/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/xpbar/jquery.effects.core.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/xpbar/jquery.effects.highlight.js"></script>
<script type="text/javascript" src="##LBL_SITE_URL##js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">	
	function toggleDiv(id1,id2) {
		var tag = document.getElementById(id1).style;
		if(tag.display == "none") {
			tag.display = "block";
		} else {
			tag.display = "none";
		}
	}
	
    	
	function get_next_page(url, start, limit, div_id) {
		if (!document.getElementById(div_id)) {
			div_id = "content";
		}
		$("#"+div_id).load(url, {'qstart':start, 'limit':limit, 'ce':0,'pg':1,chk:1}, function(res){
			//css_even_odd();
		});
	}
	
	function show_fancybox(res){
		$.fancybox(res,{centerOnScroll:true,hideOnOverlayClick:false});
		//$.fancybox(res,{margin:600,hideOnOverlayClick:false});
	}

	function live_ranking() {
		var ranking_data;
		var url="##LBL_SITE_URL##user/live_ranking/";
		
		$.post(url,{ce:0,chk:1}, function(ranking_data){
			if (ranking_data.trim() == "no update" || ranking_data.trim() == "no rank"){
				setTimeout("live_ranking()", rank_wait);
				rank_wait *= 1.5
				return false;
			} else {
				var ajax_response_exp = ranking_data.split(',');
				
				console.log(ajax_response_exp);
				// Rank? No. 1- User? No. 1- XP? Yes.
				if (ajax_response_exp[0].trim() == "AAB"){
					
					//$("#trailing_exp").html(ajax_response_exp[1]+'<span style="font-size:8px; position:relative; bottom:3px;"> XP</span>');
				
				// Rank? No 1- User? Yes.
				} else if (ajax_response_exp[0].trim() == "AB") {
					trailing_pic = ajax_response_exp[1];
					trailing_dupe = ajax_response_exp[2];
					
					$("#trailing_user_profile_pic").html('<a href="/?id='+trailing_dupe+'"><img src="'+trailing_pic+'" style="width:30px;height:30px"/></a>');
					
					$("#trailing_ranking_number").css("color", '#FEEB4E');
					$("#trailing_ranking_number").animate( { "opacity" : 0.4 }, 1000, function() {
						$("#trailing_ranking_number").css("color","#81cdfe");
						$("#trailing_ranking_number").animate( { "opacity" : 1 }, 300)
					});
					
					//$("#trailing_exp").html(ajax_response_exp[1]+'<span style="font-size:8px; position:relative; bottom:3px;"> XP</span>');	
						
				// Rank? Yes. Improvement? Yes.
				} else if (ajax_response_exp[0].trim() == "BA") {
					new_rank = ajax_response_exp[1];
					trailing_pic = ajax_response_exp[2];
					trailing_user = ajax_response_exp[3];
					trailing_rank = ajax_response_exp[4];
					trailing_dupe = ajax_response_exp[5];
					
					$("#ranking_number").html(new_rank);
					
					// Green flash

					$("#ranking_number").css("color", '#B9FE4E');
					$("#ranking_number").animate( { "opacity" : 0.4 }, 1000, function() {
						$("#ranking_number").css("color","#81cdfe");
						$("#ranking_number").animate( { "opacity" : 1 }, 300)
					});
					
					if (trailing_user) {
					
						$("#trailing_ranking_number").html(trailing_rank);
						$("#trailing_user_profile_pic").html('<a href="/?id='+trailing_dupe+'"><img src="'+trailing_pic+'" style="width:30px;height:30px"/></a>');	
							
						//$("#trailing_user").html(trailing_user);
						
						//$("#trailing_user_pic").css("background", '#FE4EB9');
						//$("#trailing_user_pic").animate( { "opacity" : 0.4 }, 700, function() {
						//	$("#trailing_user_pic").css("background","#aad450");
						//	$("#trailing_user_pic").animate( { "opacity" : 1 }, 300)
						//});
					
					}					
				
				// Rank? Yes. Improve? No.
				} else {
					new_rank = ajax_response_exp[1];
					trailing_xp = ajax_response_exp[2];
					trailing_user = ajax_response_exp[3];
					trailing_rank = ajax_response_exp[4];
					trailing_dupe = ajax_response_exp[5];
					
					$("#ranking_number").html(new_rank);
							
					// Red flash

					$("#ranking_number").css("color", '#FE4EB9');
					$("#ranking_number").animate( { "opacity" : 0.4 }, 1000, function() {
						$("#ranking_number").css("color","#81cdfe");
						$("#ranking_number").animate( { "opacity" : 1 }, 300)
					});
					
					if (trailing_user) {
						$("#trailing_ranking_number").html(trailing_rank);
						$("#trailing_user_profile_pic").html('<a href="/?id='+trailing_dupe+'"><img src="'+trailing_pic+'" style="width:30px;height:30px"/></a>');	
						
						//$("#trailing_exp").html(trailing_xp+'<span style="font-size:8px; position:relative; bottom:3px;"> XP</span>');	
								
						//$("#trailing_user").html(trailing_user);
						
						//$("#trailing_user_pic").css("background", '#B9FE4E');
						//$("#trailing_user_pic").animate( { "opacity" : 0.4 }, 700, function() {
						//	$("#trailing_user_pic").css("background","#aad450");
						//	$("#trailing_user_pic").animate( { "opacity" : 1 }, 300)
						//});
					}
				}
				
				setTimeout("live_ranking()", 20000);
				rank_wait = 40000;
			}
		});
	}

	function get_random_meme(){		
		var url = "##LBL_SITE_URL##meme/meme_list/cat/rand";
		$.fancybox.showLoading();
		$.post(url,{ce:0},function(res){
			$("#randpgexist").val(1);
			$.fancybox.open(res,{
				fitToView: false,
				/*	FB comment integration.
					afterShow : function(){
					var random_description = "<div class='links'>"+$("#random_description > div").html()+"</div>"
					
					console.log(random_description);
					
					$('#fancybox-overlay').html(random_description);
				},*/
				afterClose : function (){
					$("#randpgexist").val(0);
				}
			});
			
			$.fancybox.update();
		});
    }
	
	function submit() {
		$('#searches').submit();
	}
	
	function show_fancybox(res){
		$.fancybox(res,{centerOnScroll:true,hideOnOverlayClick:false});
	}
	
	function follow_user(status) {		
		{/literal}{if $smarty.session.profile_id}{literal}
		var profile_id = {/literal}{$smarty.session.profile_id}{literal}
		{/literal}{/if}{literal}
		var url = "##LBL_SITE_URL##user/follow_user";
		
		$.post(url, {ce:0, id:profile_id, status:status}, function(res){
			if (status == 'follow') {
				$("#follow_me").html('<a href="javascript:void(0);" id="follow_btn" onclick="follow_user(\'unfollow\');">Unfollow</a>');
				
				follow_count += 1;				
			} else if (status == 'unfollow') {
				$("#follow_me").html('<a href="javascript:void(0);" id="follow_btn" onclick="follow_user(\'follow\');">Follow</a>');
				
				follow_count -= 1;
			}
			
			$('#follower_count').html(follow_count+' followers');
		});
	}
	
	function popup_expbar(){
		var data;
		var url="##LBL_SITE_URL##user/getExperience/";
		
		$.post(url,{ce:0,chk:1}, function(data){
			if(data == 90999999999){
				setTimeout("popup_expbar()", xp_wait);
				xp_wait *= 1.2
				return false;
			}	
				
			// XP has changed
			if (data.indexOf(",") == -1) {
				// User has not levelled
				
				var ajax_response_main = data.split('~');
				new_xp = ajax_response_main[0];
				previous_xp_to_level = ajax_response_main[1];
				user_level = ajax_response_main[2];
				
				console.log("User Level is "+user_level);
				console.log("Previous XP to Level is "+previous_xp_to_level);
				console.log("XP_TO_LEVEL is "+xp_to_level);
				
				// flash ranking number yellow
				$("#ranking_number").css("color", '#FEEB4E');		//yellow
				$("#ranking_number").animate( { "opacity" : 0.8 }, 500, function() {
					$("#ranking_number").css("color","#81cdfe");
					$("#ranking_number").animate( { "opacity" : 1 }, 200)
				});
				
				if (user_level == 1) {
					new_xp_percent = (new_xp / xp_to_level) * 100;
				} else {
					console.log("New Total XP is "+new_xp);
					console.log("Previous XP to Level is "+previous_xp_to_level);
					new_xp_percent = (new_xp - previous_xp_to_level) / (xp_to_level - previous_xp_to_level) * 100;
				}
				
			} else {
				// User level has changed; Unpack data
													
				var ajax_response = data.split(',');
				// [0] -- New XP
				new_xp = ajax_response[0]; 
				// [1] -- New level
				new_level = ajax_response[1];
				$("#user_level").html('L'+new_level);
				$("#left_pan_level").html('L'+new_level);
				
				// [2] -- New XP to level
				new_xp_to_level = ajax_response[2];
				
				previous_xp_to_level = xp_to_level;
				
				calc_new_xp_percent = new_xp - parseInt(previous_xp_to_level);
				new_xp_percent = calc_new_xp_percent / (new_xp_to_level - previous_xp_to_level) * 100;
				
				//console.log("XP TO LEVEL is "+xp_to_level);
				//console.log("NEW XP TO LEVEL IS "+new_xp_to_level);
				//console.log(calc_new_xp_percent);
							
				//console.log("PREVIOUS XP TO LEVEL IS "+previous_xp_to_level);
				
				xp_to_level = new_xp_to_level;
				
				// Level has a "live feed like flash"
				$("#left_pan_level").css("background", '#B9FE4E');
				$("#left_pan_level").animate( { "opacity" : 0.4 }, 500, function() {
					$("#left_pan_level").css("background","white");
					$("#left_pan_level").animate( { "opacity" : 1 }, 300)
				});
			}
					 
				
			//console.log("New XP is " + new_xp);
			//console.log("New Percentage is " + new_xp_percent);
			
			$("#xpbar").progressbar({
				value: new_xp_percent 
			});
			$("#xpbar_status").html(new_xp_percent.toFixed(2) +'%');
			
			// Status bar with XP pops up too
			$("#xpbar_status").show();
			setTimeout('$("#xpbar_status").fadeOut();', 2000);
			
			
			// Static XP marker
			$("#total_xp").html(new_xp+'<span style="font-size:8px; position:relative; bottom:5px;"> XP</span>');
			$("#user_pic").css("background", '#4EFEEB');
			$("#user__pic").animate( { "opacity" : 0.4 }, 400, function() {
				$("#user_pic").css("background","#4ebaff");
				$("#user_pic").animate( { "opacity" : 1 }, 300)
			});
			
			setTimeout("popup_expbar()", 7000);	
			xp_wait = 8000;
		});
	}
	
	function fb_logout(response){
		url="##LBL_SITE_URL##";		
		FB.getLoginStatus(function(response){
			if (!response.authResponse){
				window.location.href = url+"user/logout";
				return;
			}
			
			FB.logout(fb_logout);
		});
	}
	
</script>
{/literal}
</html>