
{*notag*}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Memeja: 2 Me's; 1 Meme</title>
{assign var=appid value=$util->get_values_from_config('FACEBOOK')}
{assign var=chc value=$smarty.request.choice}

<script type="text/javascript" src="##JS_PATH##libsext/jquery/jquery.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/jquery/jquery-1.4.2.min.js"></script>

<!-- JQuery Library for New Fancybox -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>


<script type="text/javascript" src="##JS_PATH##libsext/fancybox/jquery.fancybox-1.3.2.pack.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/js/jquery.validate.js"></script>
<script type="text/javascript" src="##LBL_SITE_URL##templates/flexyjs/flexymessage.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/js/ui.datepicker.js"></script>
<script type="text/javascript" src="##LBL_SITE_URL##templates/flexyjs/jquery.bubblepopup.v2.3.1.min.js"></script>
<script type="text/javascript" src="##JS_PATH##libsext/js/ajaxfileupload.js"></script>



<link rel="stylesheet" type="text/css" href="##LBL_SITE_URL##templates/css_theme/jquery.bubblepopup.v2.3.1.css"/>

<link rel="stylesheet" type="text/css" href="##LBL_SITE_URL##templates/css_theme/mainpg.css"/>
<link rel="stylesheet" type="text/css" href="##LBL_SITE_URL##templates/css_theme/fancybox/jquery.fancybox-1.3.2.css"/>
{literal}
<script type="text/javascript">
	var chc ="{/literal}{$chc}{literal}";
	var idu="{/literal}{$smarty.session.id_user}{literal}";
	
	$(document).ready(function(){
		/*console.log(moretest)*/
	    var scrn_height = window.screen.availHeight;
            $("#mid_cont").height(scrn_height/2 + scrn_height/9);

	    /* For notification */
	    $(".inner").hide();
	    $('#slidebottom div').click(function() {
		get_details_notification();
		$(this).next().slideToggle();
	    });

	    if(idu!="" && chc!='addMeme'){
		setInterval("getall_notification()",3000);

	    /* end */
	    /* For popup bar */
		setInterval("popup_expbar()",6000);
	    }

	    /* TOS Fancybox Popup on First Login */
	    var first_login="{/literal}{$smarty.session.toc}{literal}";
	    if(first_login=='0'){
		    $.get('##LBL_SITE_URL##user/first_login_msg/ce/0', function(res) {
			$.fancybox(res,{
			    centerOnScroll:true,
			    hideOnOverlayClick:false,
			    onCleanup : function (){
				if($("#toc").is(":checked")){
				    $.get('##LBL_SITE_URL##user/first_login_msg/ce/0/pass/pass', function(data) {});
				    return true;
				} else {
				    alert("Please agree with our Terms Of Services");
				    return false;
				}
			    }
			});
		    });
	    }

	    if(idu){
	        $('.expbar').CreateBubblePopup({
			position :'top',
			align	 : 'left',
			tail	 : {align: 'left'},
			innerHtml: '<img src="##LBL_SITE_URL##templates/css_theme/images/loading.gif" style="border:0px; vertical-align:middle; display:inline;" >loading!',
			innerHtmlStyle: {color:'#FFFFFF','text-align':'center'},
			themeName: 	'all-blue',
			themePath: 	'##LBL_SITE_URL##templates/css_theme/images/jquerybubblepopup-theme',
			alwaysVisible: false,
			closingDelay: 2000,
			afterShown: function () {
				$("#tst").val(1);
			},
	            	afterHidden: function () {
				$("#tst").val(2);
			}
		});

		 $('.expbar').mouseover(function(){
		   	var button = $(this);
		   	$.get('##LBL_SITE_URL##user/getExperience/ce/0', function(data) {
			    var seconds_to_wait = 1;
			    function pause(){
				    var timer = setTimeout(function(){
					    seconds_to_wait--;
					    if(seconds_to_wait > 0){
						    pause();
					    }else{
						  if(data!=2){
						    button.SetBubblePopupInnerHtml(data, false);
						  }
					    };
				    },1000);
			    };pause();
		    	});
		 });
	    }
	    /* End */
	    /* For updating total login time */
	    upd_log_time();
	    /* End */

	});
	function getall_notification(){
	    var url="##LBL_SITE_URL##manage/getall_notification";
	    $.post(url,{ce:0},function(res){
		if(res[0]!="-1"){
			if(res[2]==0)
			    $(".not_txt").hide();
			else
			    $(".not_txt").show();
			$('#user_ids').val(res[0]);
			$('#id_badges').val(res[1]);
			$("#not_cnt").html(res[2]);
		}
	    },'json');
	}
	function get_details_notification(){
	    var url="##LBL_SITE_URL##/manage/get_details_notification";
	    $.post(url,{id_users:$('#user_ids').val(),id_badges:$('#id_badges').val(),ce:0},function(data){
		$(".inner").html(data);
		$(".not_txt").hide();
	    });
	}
	function popup_expbar(){

		var data;
		var url="##LBL_SITE_URL##user/getExperience/ce/0/chk/1";
		var httpRequest = new XMLHttpRequest();
		httpRequest.open('POST', url, false);

		httpRequest.send(); // this blocks as request is synchronous
		if (httpRequest.status == 200) {
			data=httpRequest.responseText;
		}
		if(data==1){
			return false;
		}

		$('.expbar').CreateBubblePopup({
			position : 'top',
			align	 : 'left',
			tail	 : {align: 'left'},
			innerHtml: '<img src="##LBL_SITE_URL##templates/css_theme/images/loading.gif" style="border:0px; vertical-align:middle; display:inline;" >loading!',
			innerHtmlStyle: {color:'#CCCCCC','text-align':'center'},
			themeName: 	'all-blue',
			themePath: 	'##LBL_SITE_URL##templates/css_theme/images/jquerybubblepopup-theme',
			alwaysVisible: false,
			closingDelay: 500,
			afterShown: function () {
				$("#tst").val(1);
			},
	            	afterHidden: function () {
				$("#tst").val(2);
			}
		});
		var button = $('.expbar');

		var seconds_to_wait = 1;
		function pause(){
		    var timer = setTimeout(function(){
			    seconds_to_wait--;
			    if(seconds_to_wait > 0){
				    pause();
			    }else{
				if(data!=2)
				    button.SetBubblePopupInnerHtml(data, false);
			    };
		    },1000);
		};pause();
		$('.expbar').ShowBubblePopup();
		setTimeout("closeexpbar()",8000);
	}
	/*$(window).scroll(function () { 
		var tst=$("#tst").val();
		if (tst=='1'){
		  window.scroll=false;
		}
		else 
			var s=6;
	});
	*/
	function closeexpbar(){
	    $('.expbar').trigger("hidebubblepopup", [true]);
	}
	function upd_log_time() {
		  var url="##LBL_SITE_URL##index.php";
		  $.post(url,{page:"user",choice:"set_login_time",ce:0},function(res){//alert(res);
		  })
		  setTimeout("upd_log_time()",10000);
    	}
	function get_next_page(url, start, limit, div_id) {
		if (!document.getElementById(div_id)) {
			div_id = "content";
		}
		$("#"+div_id).load(url, {'qstart':start, 'limit':limit, 'ce':0,'pg':1,chk:1}, function(res){
			//css_even_odd();
		});
	}
	function show_fancybox(res){
		$.fancybox(res,{centerOnScroll:true,hideOnOverlayClick:false});
		//$.fancybox(res,{margin:600,hideOnOverlayClick:false});
	}
	$(function(){
		$(".leftpan_img").click(function(){
			$("#leftpan").toggle();
			if($("#leftpan").is(":hidden"))
			    $(".leftpan_img").css('background',"url(##LBL_SITE_URL##templates/images/m_next_btn.png) no-repeat");
			else
			    $(".leftpan_img").css('background',"url(##LBL_SITE_URL##templates/images/m_previous_btn.png) no-repeat");
		});
		$(".rightpan_img").click(function(){
			$("#rightpan").toggle();
			if($("#rightpan").is(":hidden"))
			    $(".rightpan_img").css('background',"url(##LBL_SITE_URL##templates/images/m_previous_btn.png) no-repeat");
			else
			    $(".rightpan_img").css('background',"url(##LBL_SITE_URL##templates/images/m_next_btn.png) no-repeat");

		});

	});
	function chkvalid(){
	    //For validation form before submitting paypal button
	}
</script>
<script type="text/javascript">
	    function fb_logout(){
	       url="##LBL_SITE_URL##";
	       $.post(url,{page:"user",choice:"check_fb_session",ce:0},function(res){
		if(res=='-1'){
		       window.location.href = url+"user/logout";
		} else {
				// First try logging out normal user
				window.location.href = url+"user/logout";
				
				// Then try FB logout
				if (idu) {
		       		FB.logout(function(response) {
						window.location.href = url+"user/logout";
		       		});
		       	}
		}

	       })
		}

</script>
<style type="text/css">

body {
	margin-left:75px;
	margin-right:75px;
}

/* Exp Bar Tab */
.expbar{
	position:fixed;
	bottom:15px;
	left:7px;
	border-radius:5px;
}
.exp_fix1{
	position:fixed!important;
	top:485px!important;
}
.notify {
	cursor: pointer;
	position:fixed;
	bottom:15px;
	left:100px;
	border-radius:5px;
}
.not_txt{
	cursor: pointer;
	background-color: red;
	position:fixed;
	left: 155px;
	bottom: 20px;
	width:13px;
	height:16px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:none;
}
.leftpan_img{
	 background:url(##LBL_SITE_URL##templates/images/m_previous_btn.png) no-repeat;
	 width:11px;
	 height:71px;
         position:absolute;
         position:fixed;
	 left:5px;
         top:400px;
	 z-index: 5;
}
.rightpan_img{
	background:url(##LBL_SITE_URL##templates/images/m_next_btn.png) no-repeat;
	 width:11px;
	 height:71px;
         position:absolute;
         position:fixed;
         right:5px;
         top:400px;
	 z-index: 5;
}

/* Notification pop-up */
.inner{
	outline:1px solid #000;
	background-color:wheat;

}

/* Location of Notification pop-up */
.slide .inner {
	position: fixed;
	left: 102px;
	bottom: 33px;
	z-index:9999999;
}

</style>
{/literal}
</head>
<body>
<div id="fb-root"></div>
      {literal}
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '219049284838691',
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
          });
          
          FB.Event.subscribe('auth.login', function (response) {
          	console.log("FB.event.subscribe auth login fired");
          	window.location = "##LBL_SITE_URL##user/facebook_info";
    	  });
        };
        
        
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document))
      </script>       
{/literal}

  <input type="hidden" id="tst" value="2">
    <div id="page1">
		<div id="mymodal"></div>
	    	{include file='common/header'}

	    	{include file='common/menu'}

		{if $smarty.session.id_user && $smarty.request.choice !='addMeme'}
	    	<div class="leftpan_img"></div>
	    	<div class="rightpan_img"></div>
		{/if}

		<!-- Left/Center/Right Content -->
		<table border="2" width="100%" id="mid_cont">
		    <tr>
			{if $smarty.request.choice !='addMeme'}
			<td width="15%" id="leftpan" valign="top">
			    {if $smarty.session.id_user}	
				    {include file="user/left_pan"}
			    {else}
				    {include file="user/login_form"}
			    {/if}
			</td>
			{/if}

			<td align="left" valign="top">
			    <div><font color="#FF0000">{myinclude file="common/messages" module="global"}</font></div>
			    <div id="container">
				{if $smarty.session.id_user && $smarty.request.choice !='answer_to_ques' && $smarty.request.choice !='addMeme' && $smarty.request.choice !='meme_details'}
				    {get_mod mod=question mgr=question choice=get_this_week_question}<br>
				{/if}

		<!-- Content in middle of page (Live Feed/Editor) -->
				{include file=$content}

		<!-- Login form if user not logged in -->
			<!-- switched from user/login_form -->
				{if !$smarty.session.id_user && !$smarty.request.page}{include file="meme/home"}{/if} 
			    </div>
			</td>

			{if $smarty.request.choice !='addMeme'}
			<td width="15%" id="rightpan" align="center" valign="top" >
			    {if $smarty.session.id_user}	
				    {include file="user/right_pan"}
			    {else}
			    
			    	<!-- Only shows Search meme w/o login -->
				    {include file="user/right_pan"}
			    {/if}
			</td>
			{/if}
		    </tr>
		</table>

		{if $smarty.session.id_user}

		<!-- For Experience button -->
	        <div class='expbar' id='expbar' style="z-index:99999;border:3px  solid #cccccc;background-color:#f2f2f2;">Experience Bar</div>
		<!-- End -->
		<!-- For Notification button -->
		<div id="slidebottom" class="slide">
		      <div class='notify' style="z-index:99999; border:3px  solid #cccccc; background-color:#f2f2f2; float:left;">
			Notification
			<label class="not_txt"><font style="color:white;margin-left: 3px;font-weight:bold;"><span id="not_cnt"></span></font></label>
		      </div>
		      <div class="inner"></div>
		</div>

		{/if}
		<div class="clear"></div>
		<div class="push"></div>
		<input type="hidden" id="user_ids" value=""/>
		<input type="hidden" id="id_badges" />
	</div>
	<div id="footer">&copy; Copyrights. All Rights Reserved. 2011</div>
</body>
</html>

