{assign var=category value=$util->get_values_from_config('CATEGORY')}
{literal}
<script type="text/javascript">
    function get_random_meme(){
	var url = "##LBL_SITE_URL##meme/meme_list/cat/rand";
	//$.fancybox.showActivity();
	$.fancybox.showLoading();
	$.post(url,{ce:0},function(res){
	    $("#randpgexist").val(1);
	    $.fancybox.open(res,{
		    afterClose : function (){
				$("#randpgexist").val(0);
		    }
	    });
	    $.fancybox.update();
	});
    }
</script>
{/literal}
<div id="header">
    <table>
	<tr>
	<td>
	<h1><a href="##LBL_SITE_URL##">Memeja</a></h1>
	</td>
	<!-- 
	
	   Move next to exp bar
	
	<center>
	    {if $smarty.session.id_user}
		 Welcome {$smarty.session.fname|capitalize}
	    {/if}
	</center>-->
	<td>
	{if $smarty.request.page == 'meme' && $smarty.request.choice == 'addMeme'}class="current"{/if}>
		<a href="##LBL_SITE_URL##meme/addMeme">Make-A-Meme</a>
	</td>
	<td>
	<a href="javascript:void(0);" onclick="get_random_meme();">Random Generator</a>
	</td>
	<td>
	<a href="##LBL_SITE_URL##achievements/whatisMemeja">What is Memeja</a>
	</td>
	<!--
	    Move this next to Exp Bar
	<div class="fltrht" style="margin-top:0px;">
		{if $smarty.session.id_admin || $smarty.session.id_user}
			<a href ="javascript:void(0);" onclick="fb_logout();">Logout</a>
	    {/if}
	    
		{if $smarty.session.id_admin}
			<br/><a href="##LBL_ADMIN_SITE_URL##">Return to Admin Site</a>
		{/if}
		
		{if !$smarty.session.id_user}
		    <br/><a href="##LBL_SITE_URL##">Login</a>
		{/if}
		
		<br/><a href="##LBL_SITE_URL##cms/show/code/aboutus">About Us</a>
		<!--<br/><a href="##LBL_SITE_URL##cms/show/code/memeja">What is Memeja</a>
		<br/><a href="##LBL_SITE_URL##achievements/whatisMemeja">What is Memeja</a>
		<br/><a href="##LBL_SITE_URL##leaderboard/leaderboard">Leaderboard</a>
		-->
	</div>
	</tr>
	</table>
</div>