<div id="xpbar"></div>
<div id="user_level"></div>
<div id="xpbar_status"></div>
<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="D8ZSHD3LGRXHJ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>-->
<div id="header">
	<h1><a href="##LBL_SITE_URL##">Memeja</a></h1>
	<center>
	    {if $smarty.session.id_user}
		 Welcome {$smarty.session.fname|capitalize}
	    {/if}
	</center>
	<div class="fltrht" style="margin-top:0px;">
		{if $smarty.session.id_admin || $smarty.session.id_user}
			<a href ="javascript:void(0);" onclick="fb_logout();">Logout</a>
	    {/if}
	    
		{if $smarty.session.id_admin}
			<br/><a href="##LBL_ADMIN_SITE_URL##">Return to Admin Site</a>
		{/if}
		
		{if !$smarty.session.id_user}
		    <br/><a href="##LBL_SITE_URL##">Login</a>
		{/if}
		
		<br/><a href="##LBL_SITE_URL##cms/show/code/aboutus">About Us</a>
		<!--<br/><a href="##LBL_SITE_URL##cms/show/code/memeja">What is Memeja</a>-->
		<br/><a href="##LBL_SITE_URL##achievements/whatisMemeja">What is Memeja</a>
		<!--<br/><a href="##LBL_SITE_URL##leaderboard/leaderboard">Leaderboard</a>-->
	</div>
</div>
