{assign var=category value=$util->get_values_from_config('CATEGORY')}
{literal}
<script type="text/javascript">
    function get_random_meme(){
	var url = "##LBL_SITE_URL##meme/meme_list/cat/rand";
	$.fancybox.showLoading();
	$.post(url,{ce:0},function(res){
	    $("#randpgexist").val(1);
	    $.fancybox.open(res,{
	    	minHeight : 630,
	    	minWidth : 480,
	    	//autoSize : true,
	    	//scrolling : true,
		    afterClose : function (){
				$("#randpgexist").val(0);
		    }
	    });
	    $.fancybox.update();
	});
    }
    
    function get_random_meme_nlu(){
	var url = "##LBL_SITE_URL##meme/meme_nlu_rand";
	$.fancybox.showLoading();
	$.post(url,{ce:0},function(res){
	    $("#randpgexist").val(1);
	    $.fancybox.open(res,{
	    	minHeight : 630,
	    	minWidth : 480,
	    	//autoSize : true,
	    	//scrolling : true,
		    afterClose : function (){
				$("#randpgexist").val(0);
		    }
	    });
	    $.fancybox.update();
	});
    }
	$(document).ready(function(){
	$(window).scroll(function(e){
		var scrollTop = $(window).scrollTop();
		console.log(scrollTop);
		if(scrollTop > 85){
			   $('#xpbar').css({
			    position:'fixed',
			    top:'0px',
			});
			$('#xpbar_status').css({
			    position:'fixed',
			    top:'2px',
			});
			$('#user_level').css({
			    position:'fixed',
			    top:'2px',
			});
			
		}else{
			$('#xpbar').css({
			    position:'absolute',
			    top:'80px',
			});
			$('#xpbar_status').css({
			    position:'absolute',
			    top:'82px',
			});
			$('#user_level').css({
			    position:'absolute',
			    top:'82px',
			});
		}
	});
});
</script>
{/literal}
<div id="follower">
<div id="xpbar"></div>
<div id="fbstuff">
{if $smarty.session.id_user}	
	    <a href ="javascript:void(0);" onclick="fb_logout();">Welcome {$smarty.session.fname|capitalize} !</a>
	{else}
	<div class="fb-login-button" scope="email, publish_stream ,user_education_history {*,user_birthday*}	{* Uncomment to enable *}">
        Memebook
      </div>
{/if}	  
</div>
</div>	
<div id="user_level"></div>
<div id="xpbar_status"></div>
<div class="clear"></div>
