{assign var=img_path value=$util->get_values_from_config('IMAGE')}
<div id="edit_photo">
<a href="javascript:void(0);" onclick="editPhoto();">
    <img src="##LBL_SITE_URL##image/thumb/avatar/{if $smarty.session.avatar}{$smarty.session.avatar}{else}{if $smarty.session.gender=='M'}memeje_male.jpg{else}memeje_female.jpg{/if}{/if}" /></a>
</div>
<div>
 <a href="javascript:void(0);" onclick="editPhoto('{$smarty.session.id_user}');">Change Photo</a>
</div>
{literal}
<script type="text/javascript">
    function editPhoto(id){
	var url="##LBL_SITE_URL##index.php";
	    $.fancybox.showActivity();
	    $.post(url,{"page":"user","choice":"edit_avatar","id":id,ce:0},function(response){
		    $.fancybox(response);
	    });
    }
</script>
{/literal}