{if $sm.week_quest}
<table align="center" style="background-color: #B2B2B2">
    <tr style="height:50px;">
	<td height="50px">
<!-- a href="##LBL_SITE_URL##question/que_details/id/{$sm.week_quest.id_question}" -->
<a href="##LBL_SITE_URL##index.php/question/answer_to_ques/idq/{$sm.week_quest.id_question}">
<img src="##LBL_SITE_URL##image/thumb/question/{$sm.week_quest.img_name}" height="70px;" width="70px;"/></a></td>
	<td height="50px">
	    <h2>
<a href="##LBL_SITE_URL##index.php/question/answer_to_ques/idq/{$sm.week_quest.id_question}" style="text-decoration:none;">
<!-- a href="##LBL_SITE_URL##question/que_details/id/{$sm.week_quest.id_question}"  style="text-decoration:none;" --><center>Questions of the week</center></h2></a><br>
	    <b>{$sm.week_quest.title}</b><br>
		{$sm.week_quest.question|truncate:50}<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="##LBL_SITE_URL##index.php/question/answer_to_ques/idq/{$sm.week_quest.id_question}">...  See All Answer</a>
	</td>
    </tr>
</table>
	
{/if}
